$white: #fff;
$black:#000;
$gold: rgba(234, 173, 37, 1);
$purple: rgba(129, 2, 141, 1);
$whiteTransparent: rgba(255, 255, 255, 0.4);
$goldTransparent: rgba(234, 173, 37, 0.6);
$purpleTransparent: rgba(129, 2, 141, 0.4);
$tablet:767px;
$desktop:1199px;

@mixin transition($time) {
	transition:$time ease all;
	-webkit-transition:$time ease all;
	-moz-transition:$time ease all;
	-ms-transition:$time ease all;
	-o-transition:$time ease all;
}

@font-face {
	font-family: 'Bebas';
	src: url('../assets/fonts/bebasneue_regular-webfont.woff2') format('woff2'),
	url('../assets/fonts/bebasneue_regular-webfont.woff') format('woff');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'Bebas';
	src: url('../assets/fonts/bebasneue_bold-webfont.woff2') format('woff2'),
	url('../assets/fonts/bebasneue_bold-webfont.woff') format('woff');
	font-style: normal;
	font-weight:bold;

}

body,html{
	font-family:Open Sans;
	font-weight:100;
	font-size: 16px;
	line-height: 1.5;
	background:#f3f3f3;
	width:100%;
	overflow-x:hidden;
	margin:0;

}

h1, h2, h3, h4, h5, h6, a{
	// font-family:Bebas, Bebas Neue;
	font-family:Bebas Neue;
}

a.sexy{
	letter-spacing: 2.78px;
	border-radius: 4px;
	padding: 10px 40px;
	border:1px solid $white;
	text-decoration: none;
	background:transparent;
	color:$white;
	font-weight:bold;
	@include transition(0.3s);

}
a.sexy.highlight{
	border:1px solid $purple;
	background:$goldTransparent;
}
a.sexy:hover{
	background:$whiteTransparent;
}
a.purple{
	border:2px solid $purple !important;
	color:$purple !important;
}
a.purple:hover{
	background:$gold;
}
.buttons{
	margin-top:10px;
}
*{
	@include transition(0.2s);
}
.signup{
	*{
		margin:0;
		display: inline;
	}
	input{
		min-width: 50%;
		border-radius:2px 0px 0px 2px;
		appearance:none;
		-webkit-appearance:none;
		outline: none;
		border:1px solid $purple;
		background:transparent;
		padding:8px 12px;
		font-size:16px;
		@media (max-width: $tablet) {
			display:block;
			margin: auto !important;
			margin-bottom:0px;
			width:80%;
			border-radius:2px 2px 0 0;
			padding:10px 20px;
		}
	}	
	a{
		border-top:1px solid $gold;
		border-right:1px solid $gold;
		border-bottom:1px solid $gold;
		border-radius:0px 2px 2px 0px;
		background:$purpleTransparent;
		text-decoration:none;
		color:$white;
		border-color: $purple;
		padding:10px 20px;
		margin-left:0 !important;
		margin-right:0 !important;
		letter-spacing:2.78px;
		font-size:18px;
		@media (max-width: $tablet) {
			display:block;
			margin: auto !important;
			margin-bottom:0px;
			width:80%;
			border-radius:0px 0px 2px 2px;
		}
	}
	a:hover{
		background:$purple;
		border-color:$purple;
	}
}
.mobileOnly{
	display:none;
	@media (max-width: $tablet) {
		display:block;
	}
}
.marginTop20{
	margin-top:20px;
}
.marginTop40{
	margin-top:40px;
}
#splash{
	background:url('../assets/images/splash.jpg');
	background-size: cover;
	font-size:18px;
	color: $white;
	@include transition(0.5s);
	height:auto;
	box-shadow: 0px 0px 40px #eee;
	.overlay{
		background: rgba(33,33,33,0.96); /* Old browsers */
		background: -moz-linear-gradient(top, rgba(0, 0, 0, 0.96) 0%, rgba(30, 19, 33, 0.99) 100%); /* FF3.6-15 */
		background: -webkit-linear-gradient(top, rgba(0, 0, 0, 0.96) 0%, rgba(30, 19, 33, 0.99) 100%); /* Chrome10-25,Safari5.1-6 */
		background: linear-gradient(to bottom, rgba(0, 0, 0, 0.96) 0%, rgba(30, 19, 33, 0.99) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
		padding-top: 12%;
		overflow:hidden;
		// padding-bottom: 10%;
	}
	*{
		margin:0;
	}
	.container{
		margin:auto;
	}
	h1{
		max-width: 800px;
		margin: auto;
		font-weight:normal;
		font-size:3.8em;
		@include transition(1s);
		@media (max-width: $tablet) {
			font-size: 2.2em;
			max-width: 80%;
			height:200px;
			display:flex;
			flex-direction:column-reverse;
		}
	}
	.row{
		margin-top: 20px;
	}
	a{
		margin-right: 10px;
		margin-left: 10px;
	}
	a.sexy.highlight{
		border:1px solid $purple;
		background:$purpleTransparent;
	}
	a.sexy:hover{
		background:$purple;
		border-color:$purple;
	}
	p{
		font-style:oblique;
	}
	.buttons, .signup{
		margin-top:42px;

		a{
			@media (max-width: $tablet) {
				display:block;
				margin: auto;
				margin-bottom:20px;
				width:80%;
			}
		}
	}
	.signup{

	}

	.splashImpact{
		margin-top:9%;
		background:#fff;
		color:#111;
		border-radius:2px 2px 0px 0px;
		box-shadow: 0px 0px 20px #000;

		.stats{
			padding:20px;
			.number{
				letter-spacing:0.2;
				color:$purple;
			}
			span{
				font-size:12px;
				padding-left:4px;
			}
			.description{
				font-size: 14px;
				text-transform: uppercase;
				font-style:normal;
				font-weight: 600;
				letter-spacing: 0.07em;
				margin-top: 7px;
				i.fa{
					font-size: 22px;
				    vertical-align: middle;
				    margin-right: 5px;
				    @media (max-width: $tablet) {
				    	display:none;
				    }
				}
			}
		}
	}
}

.generalSection{
	.container{
		padding:40px;
	}

	h1{
		font-size:3em;
		font-weight:bold;
		letter-spacing:1.88px;
		@media (max-width: $tablet) {
			font-size:2em;
		}
	}
}

.lightSection{
	color:$black;
	h1, h2, h3, h4, h5, h6{
		color: $purple;
	}
}


#why{
	.whyPoints{
		margin-top: 40px;

		.whyPoint{
			padding:20px 40px;
			background:#fff;
			margin-bottom: 40px;
			position:relative;
			p{
				width:70%;
				text-align: left;
				margin:0;
				@media (max-width: $tablet) {
					width:100%;
				}
			}
			.circle{
				height:15px;
				width:15px;
				border-radius: 100%;
				display:inline-block;
				vertical-align: middle;
			}
			.purple{
				color:$purple;
				margin-right:20px;
				.circle{
					background:$purple;
				}
			}
			.light{
				color:#d5d1db;
				.circle{
					background:#d5d1db;
				}
			}
			img{
				width:60%;
				max-width:100px;
				margin: auto;
				margin-top:10px;
				margin-bottom:-20px;
			}
			img:nth-child(2n+1){
				margin-top:0px;
				margin-bottom:10px;
			}
		}
		.whyPoint:nth-child(2n){
			p{
				margin-left:25%;
				@media (max-width: $tablet) {
					margin-left:0;
				}
			}
		}
		.whyPoint:nth-child(2n+1):after{
			content:'';
			background:url('../assets/images/why1.png');
			background-size:contain;
			background-repeat: no-repeat;
			height: 200%;
			width:150px;
			display:block;
			position: absolute;
			right: 60px;
			top:-40px;
			@media (max-width: $tablet) {
				display:none;
			}
		}
		.whyPoint:nth-child(2n):before{
			content:'';
			background:url('../assets/images/why2.png');
			background-size:contain;
			background-repeat: no-repeat;
			height: 200%;
			width:150px;
			display:block;
			position: absolute;
			left: 10px;
			bottom:-70px;
			@media (max-width: $tablet) {
				display:none;
			}
		}
		.whyPoint:nth-child(3):after{
			content:'';
			background:url('../assets/images/why3.png');
			background-size:contain;
			background-repeat: no-repeat;
			height: 100%;
			width:120px;
			right: 70px;
			top:20px;
		}
		.whyPoint:nth-child(4):before{
			content:'';
			background:url('../assets/images/why4.png');
			background-size:contain;
			background-repeat: no-repeat;
			height: 200%;
			width:150px;
			left: 30px;
			bottom:-40px;
		}
	}
}

#where{
	img{
		width:80%;
	}
	p{
		width:80%;
		max-width:800px;
		margin:auto;
		@media (max-width: $tablet) {
			width:100%;
		}
	}
	.buttons a{
		margin-left:10px;
		margin-right:10px;
		@media (max-width: $tablet) {
			display:block;
			margin-bottom:10px;
		}
	}
}

#logoQuilt{
	background:#eee;
	margin-top:40px;
	margin-bottom:20px;

	img{
		height:40px;
		margin-left:40px;
		margin-right:40px;
		@media (max-width: $tablet) {
			height:30px;
			margin-left:10px;
			margin-right:10px;
		}
	}
	img:nth-child(3){
		@media (max-width: $tablet) {
			margin-top:30px;
		}
	}
}

#makeDifference{
	.program{
		background:#fff;
		margin:0px 10px 20px 10px;
		.heading{
			background:url('../assets/images/program1.jpg');
			background-position: center center;
			background-size:cover;
			padding:40px;
			h3{
				letter-spacing:1.88px;
				color:#fff;
				background:none;
				line-height:1.3;
				display:block;
			}
		}
		.heading.second{
			background:url('../assets/images/program2.jpg');
			background-position: center center;
			background-size:cover;
		}
		.details{
			padding:30px;
			font-size:14px;
			p{
				margin:0;
				text-align: left;
			}
			a{
				margin:auto;
				display:inline-block;
				margin-top:20px;
			}
		}
	}
}
nav{
	padding:20px;
	position:absolute;
	width:100%;
	top:0;
	display:block;
	background:transparent;

	img{
		display:block;
		padding:10px;
		@media (max-width: $desktop) {
			width:150px;
			margin:auto;
		}
	}
	.links{
		text-align:right;
		@media (max-width: $desktop) {
			display:none;
		}

		a{
			margin-top:40px;
			display:inline-block;
			margin-left:20px;
			color:#fff;
			letter-spacing:1px;
			text-decoration:none !important;

		}
		a.hot{
			background:#fff;
			color:#000;
			padding:5px 10px;
			border-radius:2px;
		}
		a:hover{
			color:$purple;
		}
	}
}

nav.whiteNav{
	background:#fff;
	color:$purple;
	a{	
		color:$purple;		
	}
}
footer{
    background: -webkit-linear-gradient(rgba(0,0,0,0.98), rgba(0,0,0,0.96)),#6D6D6D url(https://images.unsplash.com/photo-1462041866295-e4af004a32ef?ixlib=rb-0.3.5&q=80&fm=jpg&crop=entropy&s=96d91bef24addfacf85c6770bf41d760) no-repeat center center;
    background: linear-gradient(rgba(0,0,0,0.98), rgba(0,0,0,0.96)),#6D6D6D url(https://images.unsplash.com/photo-1462041866295-e4af004a32ef?ixlib=rb-0.3.5&q=80&fm=jpg&crop=entropy&s=96d91bef24addfacf85c6770bf41d760) no-repeat center center;
    background-size:cover;
	padding:40px;
	font-weight:100;
	font-size:14px;
	color:#fff;
	h3,h4{
		font-weight:bold;
	}
	h3{
		letter-spacing:2.78px;
	}
	h4{
		letter-spacing:1.88px;
	}
	.footerLinks{
		margin-top:40px;
		@media (max-width: $tablet) {
			margin-top:0;
		}
		a{
			display:block;
			color:#fff;
			font-size: 16px;
			line-height:2.5;
		}
	}
	i.fa{
		margin-right:10px;
	}
	.signup{
		width:100%;
		margin:auto;
		margin-top:10px;
		input{
			min-width:60%;
		}
	}
	.fa-heart{
		color:$gold;
		margin-right:0;
	}
}

$darkPurpleTransparent: rgba(129, 2, 141, 0.93);

#research-1{
	background:url('../assets/images/research.jpg');
	background-size: cover;
	h1{
		color:#fff;
	}
	.overlay{
		background: $darkPurpleTransparent; /* fallback for old browsers */
		//background: -webkit-linear-gradient(to top, rgba(170, 7, 107, 0.87), rgb(97, 4, 95)); /* Chrome 10-25, Safari 5.1-6 */
		//background: linear-gradient(to top, rgba(170, 7, 107, 0.87), rgb(97, 4, 95)); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
		padding: 40vh 0 30vh 0;
	}
	.container{
		margin:auto;
	}
}
#research-2{
	.container{
		margin:auto;
		.shit-content{
			padding: 30px 40px;
			margin: 0 auto;
			max-width: 800px;
			width: 100%;
			background: #fff;
			position: relative;
			top: -80px;
			line-height:1.8;
		}		
	}
	b {
		color:$gold;
		font-weight:300;
	}
}

.text-outline{
	text-shadow:
	-1px -1px 0 $gold,
	1px -1px 0 $gold,
	-1px 1px 0 $gold,
	1px 1px 0 $gold;  
}

#splash_abt{
	margin-top: 110px;
	height: 400px;
	width: auto;
	/*background:url('../assets/images/splash.jpg');*/
	background-color: $purple;
	color: $white;
	.container{
		margin:auto;
	}
	h1{
		max-width: 800px;
		margin: auto;
		font-weight:normal;
		font-size:3.8em;
		@media (max-width: $tablet) {
			font-size: 2.2em;
			max-width: 80%;
		}
	}
	.row{
		margin-top: 160px;
	}

}

.sub-nav{
	width: 100%; 
	height: auto; 
	background: white;
	vertical-align: middle;
	text-align: center;
	a{
		text-decoration: none;
		color: $black;
	}
	.line{
		padding-top: 10px;
		padding-bottom: 10px;
		padding-left: 15px;
		padding-right: 15px;
		color: $gold;
		transform: translateZ(0);
		backface-visibility: hidden;
		position: relative;
		transition-property: color;
		transition-duration: 0.3s;
	}

	.line:before{
		content: "";
		position: absolute;
		z-index: -1;
		top: 95%;
		left: 0;
		right: 0;
		bottom: 0;
		background: $gold;
		transform: scaleX(0);
		transform-origin: 0 50%;
		transition-property: transform;
		transition-duration: 0.3s;
		transition-timing-function: ease-out;
	}

	.line:hover, .line:focus, .line:active {

	}
	.line:hover:before, .line:focus:before, .line:active:before {
		transform: scaleX(1);
	}

	.line:hover > a{
		color: $gold;
	}
	.sub_navbar{
		padding-top: 20px;
		padding-bottom: 20px;
		margin: 0 auto;
		position: relative;
		font-size: 1.4em;
		.line{
			display: inline-block;
			@media (max-width: $tablet) {
				display:block;
			}
		}
	}

}

.mission {
	.row{
		width: 80%;
		margin: auto;
		position: relative;
	}
}

.vision_text{
	width: 600px;
	@media(max-width: $tablet){
		text-align: center;
		width: auto;
		margin: 0 auto;
		position: relative;	
		padding-left: 5%;
		padding-right: 5%;	
	}
}

.impact{
	.row{
		width: 80%;
		margin: auto;
		position: relative;
	}
	
	.graphic{
		height: 110px;
		background: #d3d3d3;
	}
	.graphic:before{
		content:'';
		background:url('../assets/images/money.png');
		background-size:contain;
		background-repeat: no-repeat;
		width: 180px;
		height: 300px;
		position: absolute;
		top: -70px;
		left: 10%;
		@media (max-width: $tablet) {
					margin-left:0;
					display: none;
				}
	}

	.legend{
		overflow-x: hidden;
		margin-left:300px;
		@media (max-width: $tablet) {
					margin-left:10px;
				}
	}
	.circ{
		position: relative;
		vertical-align: middle;
		float: left;
		width: 15px;
		height: 15px;
		border-radius: 10px;
		margin-left: 20px;
	}
	#c1{
		background: #662d91;
	}
	#c2{
		background: #440e62;
	}
	#c3{
		background: #32004b;
	}
	.key{
		position: relative;
		float: left;
		margin-top: -5px;
		margin-left: 10px;
	}
}

.president{
	background: $purple;
	color: white;
	.message{
		p{
			padding-top: 20px;

		}
	}
	.row{
		width: 80%;
		margin: auto;
		position: relative;
		text-align: left;
		font-size: 1em;
	}

	.quote{
		color: $black;
		border-left: solid $black 5px;
		padding-left: 20px;
	}
}

.board{
	.member{
		vertical-align: top;
		display: inline-block;
		margin-left: 20px;
		margin-right: 20px;
		position: relative;
		-webkit-transition: all .2s ease;
		overflow: hidden;
		width: 200px;
		img{
			width: 200px;
			height: 200px;
		}
		.name{
			margin-top: 10px;
			font-weight: bold;
		}
		.post{
			margin-top: -10px;
			font-size: .8em;
			font-style: italic;
		}


	}
	.icon{
		width: 40px;
		height: 40px;
		position: absolute;
		top:57%;
		left: 100%;
		color: $white;
		-webkit-transition: all .2s ease;
		opacity: 0;
	}
	.member:hover .icon{
		opacity: 1;
		left: 70%;
	}
}

.connected{
	background: #e8e4e4;
	.news{
		vertical-align: top;
		display: inline-block;
		margin-left: 20px;
		margin-right: 20px;
		position: relative;
		-webkit-transition: all .2s ease;
		width: 200px;
		overflow: hidden;
		text-align: left;
		img{
			width: 200px;
			height: 200px;
		}
		.name{
			margin-top: 10px;
			font-weight: bold;
		}
		.post{
			margin-top: -10px;
			font-size: .8em;
			font-weight: lighter;
		}
		


	}
	.line{
		width: 25px;
		height: 3px;
		position: absolute;
		margin-top: 10px;
		bottom: 0%;
		left: 0%;
		background: $black;
	}
	.icon{
		width: 40px;
		height: 40px;
		position: absolute;
		top:57%;
		left: 100%;
		color: $white;
		-webkit-transition: all .2s ease;
		opacity: 0;
	}
	.news:hover .icon{
		opacity: 1;
		left: 70%;
	}
}