<div id="about" class="container-fluid generalSection lightSection text-center">
    <div class="container">
        <div class="row">
            <h1>Why should you care?</h1>
        </div>
        <div class="row whyPoints">
            <div class="col-xs-12 col-lg-8 col-lg-offset-2">
                <div class="row whyPoint" >
                    <img src="assets/images/why1.png" class="mobileOnly">
                    <p>Of the top 10 <b>leading causes of death</b>, Alzheimer’s is the 6th and the only one that <b>cannot be slowed, prevented or cured.</b></p>
                </div>

                <div class="row whyPoint" >
                    <p>Total cost of care for those with Alzheimer’s.
                    <br>
                    <span class="purple"><span class="circle"></span> = 2015</span>
                    <span class="light"><span class="circle"></span> = 2016</span>
                    <img src="assets/images/why2.png" class="mobileOnly">
                    </p>
                </div>


                <div class="row whyPoint" >
                    <img src="assets/images/why3.png" class="mobileOnly">
                    <p>More than 5 million people are living with Alzheimer's Disease in the U.S. This number is predicted to reach up to <b>16 million by 2050.</b></p>
                </div>

                <div class="row whyPoint" >
                    <p>Nearly <b>two thirds</b> of Americans with Alzheimers are <b>women</b>.
                    </p>
                    <img src="assets/images/why4.png" class="mobileOnly">
                </div>


            </div>
        </div>
    </div>
</div>
