<div id="splash_abt" class="page-splash">
    <div class="overlay">
        <div class="container text-center">
            <div class="row">
                <h1>What is Alzheimers?</h1>
            </div>
        </div>
    </div>
</div>

<div  class="container-fluid generalSection lightSection text-center">
    <div class="container mission">
        <br><br>
        <div class="row">
            <p>
                Alzheimer's disease is a <b>progressive, neurodegenerative disorder</b> that attacks the brain's nerve
                cells, resulting in <b>behavioral changes due to loss of memory, thinking and language skills</b>. 
            </p>
        </div>
    </div>
</div>

<div>
    <div class="overlay cnotainer-fluid">
        <div class="container">
            <br>
            <div class="neurons shadow-border">
                <p>Neurons are no longer able to produce the
                    necessary chemicals to communicate with
                    nearby neurons. Thus, the transfer of
                    information between nerve cells begins to
                    fail, causing neurons to eventually die.
                    Short-term memory fails when Alzheimer's
                    disease first destroys nerve cells in the
                    hippocampus, and language skills and
                    judgment decline when neurons begin to
                    deteriorate in the cerebral cortex. 
                </p>
                <img id="neuron1" src="assets/images/whatis3.svg">
                <img id="neuron2" src="assets/images/whatis3.svg">
            </div>
            
        </div>
    </div>
</div>

<div id="alz_stats" class="shadow-border">
    <div class="overlay cnotainer-fluid">
        <div class="container text-center">
            <div class="row">
                <p>
                    Although Alzheimer's is characterized as
                    a disease of the old (over 65 years),
                    approximately 5%, almost <b>200,000</b> of
                    the 5.4 million people living with
                    Alzheimer's are under the age of 50. 
                </p>
            </div>
        </div>
    </div>
</div>

<div class="container-fluid generalSection lightSection text-center">
    <div class="container impact">
        <div class="symptoms row shadow-border">
            <h2>Common Symptoms</h2>
            <ul>
                <li>Memory loss that disrupts daily life.</li>
                <li>Challenges in planning or solving problems.</li>
                <li>Difficulty completing familiar tasks at home, at work or at leisure.</li>
                <li>Trouble understanding visual images and spatial relationships.</li>
                <li>New problems with words in speaking or writing.</li>
                <li>Changes in mood and personality, including apathy and depression.</li>
            </ul>
        </div>
        <br><br>
        <div class="row">
            <p>
                There is currently <b>no cure</b> for Alzheimer’s, but there are treatments to improve quality
                of life. Research towards the prevention, early prognosis and slowing of Alzheimer’s
                progression is already well on its way. One of the greatest obstacles towards progress
                is a <b>lack of federal research funding</b>. We are at the cusp of discovery in regards to
                combatting the disease; an increase in funding towards relevant projects can and will
                improve <b>lives of millions of people</b> across the world.
            </p>
            
        </div>
        
    </div>
</div>



