<div id="research-1" class="generalSection">
<div class="overlay">
    <div class="container text-center">
	        	<div class = "row">
		        	<h1>Alzheimer's Research Scholarship Program</h1>
	        	</div>
        </div>
    </div>
</div>

<div id="research-2" class="container-fluid lightSection">
    <div class="container">
        <div class="shit-content" >
            <p>
			Founded by YMAA's UCLA chapter, ARSP will channel some of the brightest young minds at universities across the country to actively work on conducting either clinical or laboratory research related to the disease for a full academic year. We hope that this year of research will inspire a future generation of scholars and scientists to be at the forefront of developing successful treatments--or even a cure for this disease. Through donations via Go­FundMe and direct sponsorship (individual and organizational)  we plan to sponsor <b>exceptional undergraduate student researchers</b>  with a stipend of $1000 per academic year. 
			</p>
			<iframe class="marginTop20" width="100%" height="400" src="https://www.youtube.com/embed/fr-RdAA6nho" frameborder="0" allowfullscreen></iframe>
			<p class="marginTop20">
			By the end of the year each recipient will complete the following work:<br>
			<ul>
			<li>Create at least one piece of scientific literature to be published in YMAA's newsletter. 
			<li>Produce a creative piece, either highlighting an element of their research or Alzheimer's Disease at large, that can be comprehended by the nonscientific community and youth. 
			<li>Present their work with at least one poster/abstract session organized through their associated university
			<li>Draft a research proposal for further investigation based on the work that they have done in their ARSP placement.
			</ul><br>
			The first 10 scholarships will be rewarded to students within UCLA labs through a pilot program, then based on the amount fundraised, we will <b>create this program at other chapters</b> who are associated with other Alzheimer's Disease Research Centers (ADRC's), at universities such as Harvard, Northwestern, UC Berkeley, and UC Irvine. Thus far we have received positive support from multiple faculty members and the department heads heads listed below:
			</p>
			<p>
			Dr. Lene Levy­Storms - <i>Academic Head of the Gerontology Minor</i></br>
			Dr. Gary Small - <i>Director Longevity Center</i></br>
			Dr. Karen Miller - <i>Psychologist (Ph.D.), UCLA Medical Center Geriatrics Psychiatry</i></br>
			Dr. Alison Burggren - <i>Ph.D- Staglin IMHRO Center for Cognitive Neuroscience.</i></br>
			Dr. Karen Gylys - <i>Ph.D. and R.N.,UCLA Brain Research Institute</i></br>
			Dr. Dale Bredesen - <i>Former Director of Mary Easton Center for Alzheimer’s Disease</i></br>
			Dr. Marie Francoise­ Chesselet - <i>Interim Chair UCLA Neurology</i><br>
			Dr. Gal Bitan - <i>Associate Professor, UCLA Neurology</i>
</p>
			<div class="row text-center marginTop40">
				<a class="sexy purple highlight" href="#">Apply</a>
				<a class="sexy purple highlight" href="#">Donate</a>
			</div>	
		</div>
    </div>
</div>

<div id="logoQuilt" class="container-fluid generalSection lightSection text-center">
    <div class="container">
        <div class="row">
            <img src="assets/images/school1.png">
            <img src="assets/images/school2.png">
            <img src="assets/images/school3.png">
            <img src="assets/images/school4.png">
        </div>
    </div>
</div>