<nav ng-class="{'whiteNav': nav}" ng-controller="NavCtrl">
    <div class="col-xs-12 col-lg-2">
        <a href="#/"><img src="../public/assets/images/logo.png"></a>
    </div>
    <div class="col-xs-12 col-lg-10 links">
        
        <a href="#/alzheimers">WHAT IS ALZHEIMER’S</a>
        <a href="#/ab568">CA Care Corps</a>
        <a href="#/summit2019">DC Summit</a>
        <!-- <a href="#/timeout">Youth Caregiving Program</a> -->
        <a href="#/join">Start a Chapter</a>
        <a href="#/about">About</a>
        <a href="#/joinOurTeam">Join Us</a>
        <a href="#/press">Press</a>
        <a href="https://www.paypal.com/cgi-bin/webscr?cmd=_s-xclick&hosted_button_id=9FEVYH2QMGF8J" class="hot">Donate</a>
    </div>
</nav>
<div class="hamburger">
    <i class="fa fa-bars fa-fw"></i>
</div>
<div id="mobileNav">
    <div class="links">
        <a class="notRegular" href="#/"><img src="../public/assets/images/logo.png"></a>
        
        <a href="#/alzheimers">WHAT IS ALZHEIMER’S</a>
        <a href="#/ab568">CA Care Corps</a>
        <a href="#/summit2019">DC Summit</a>
        <!-- <a href="#/timeout">Youth Caregiving Program</a> -->
        <a href="#/join">Start a Chapter</a>
        <a href="#/about">About</a>
        <a href="#/joinOurTeam">Join Us</a>
        <a href="#/press">Press</a>
        <a href="https://www.paypal.com/cgi-bin/webscr?cmd=_s-xclick&hosted_button_id=9FEVYH2QMGF8J" class="hot">Donate</a>
    </div>
</div>