<footer>
    <div class="container">
        <div class="row">
            <div class="col-lg-4">
                <img src="assets/images/logo.png">
                <h4>
                    CREATING A FUTURE WORTH REMEMBEING
                </h4>
                <p>Youth Movement against Alzheimer's is a nonprofit  collective that is committed to fighting against Alzheimer’s and raising awareness about the disease
                <br><br>
                Our mission is to change the world by empowering nonprofits through raising awareness.</p>
                <p class="small">
                © 2016 YOUTH MOVEMENT AGAINST ALZHEIMER'S
                </p>
            </div>
            <div class="col-lg-7 col-lg-offset-1">
                <div class="row footerLinks">
                    <div class="col-lg-4">
                        <a href="#/chapters">Chapters</a>
                        <a href="#/alzheimers">WHAT IS ALZHEIMER’S</a
                        >
                        <a href="#/research">Undergraduate Research</a>
                        <a href="#/timeout">Youth Caregiving Program</a>
                    </div>
                    <div class="col-lg-4">
                        <a href="#/join">Join the Movement</a>
                        <a href="#/about">About Us</a>
                        <a href="#/about" class="hot">Donate</a>
                    </div>
                    <div class="col-lg-4">
                        <a href=""><i class="fa fa-facebook"></i> Facebook</a>
                        <a href=""><i class="fa fa-twitter"></i> Twitter</a>
                        <a href=""><i class="fa fa-youtube"></i> Youtube</a>
                    </div>
                </div>
                <div class="row signup">
                    <input type="text" name="emailSignup" placeholder="Enter your email to sign up to our newsletter" /><a href="#">Sign Up</a>
                </div>
            </div>
        </div>
        <div class="row marginTop40 text-center">
            <p>Made with <i class="fa fa-heart"></i> in Los Angeles</p>
        </div>
    </div>
</footer>