<div id="splashChapter" class="joinTheMovement">
    <div class="overlay container-fluid">
        <div class="container text-center">
            <div class="row">
                <h1>AB 2101</h1>
            </div>
        </div>
    </div>
</div>
<div class="container-fluid generalSection lightSection text-center" id="form">
    <div class="container">
    <div class="row" align="left">
   
    <h2>YMAA introduces the California Care Corps Act as Lead Sponsor</h2>
    <br>
     <h3> AB 2101 </h3>
    <br>
    <p> <b> LOS ANGELES, CA -- On Tuesday, February 13th, <a href="https://youthcaregiving.org/">YouthCare</a>, an intergenerational respite care service for  Alzheimer’s and dementia caregivers, launches in a joint venture between the <a href="http://gero.usc.edu/">University of Southern California Leonard Davis School of Gerontology</a> and the <a href="http://www.theyouthmovement.org/#/">Youth Movement Against Alzheimer’s</a> (YMAA). </b></p>
    <p> Transformation is coming to the Alzheimer’s and dementia (AD) caregiving landscape. As the caregiver population balloons, a new social enterprise is stepping into the marketplace to provide respite care services for caregivers at an affordable price and at a delivery scale that existing providers do not offer.  Launched as a partnership between the USC Leonard Davis School of Gerontology and the Youth Movement Against Alzheimers, YouthCare could change millions of caregivers’, students’, and patients’ lives.</p>
    <p> The program’s innovative model partners undergraduate and graduate students with older adults diagnosed with early-stage dementia for three hours, twice a week in a community-setting. The simple partnership has major benefits. </p>
    <p> The majority of the 16 million unpaid dementia caregivers throughout the United States cannot afford respite care or cannot find service providers with options less than 10 hours per week. YouthCare’s low-cost per hour and the option to only get three or six hours of respite a week promises major relief to all caregivers and especially the 40% who suffer from diagnosed depression.</p>
    <p>“We hope to help build a robust intergenerational program that benefits the community, helps humanize the aging experience, and gives older adults a chance to spend time with young people who are engaged in improving aging and aging services today and in the future,” said Anna Quyen Nguyen, director of internship training at the USC Leonard Davis School.</p>
    <p> Research has shown that access to respite care  can lengthen stay at home for persons with dementia due to the ease of caregiver burnout. Two years of YouthCare can be subsidized by just one month of cost savings from Assisted Living Facilities. Nihal Satyadev, the CEO & Co-Founder of YMAA stated, “Through this social enterprise, our organization is looking to fundamentally change the landscape of Alzheimer’s care and reduce the burden caused by this disease for families and our healthcare system.” </p>
    <p> Students seeking to develop a geriatric service skill set have a major opportunity to learn how to provide high quality respite care services for AD patients. These skills are experiencing explosive demand as the American population ages. By 2030, for the first time in our history, 20% of Americans will be over sixty-five (up from 15% in 2015). The demand in every corner of the country for respite care services is going to increase alongside that figure.</p>
    <p>  AD diagnoses are forecast to double from 5.5 million to 11 million over the next 12 years. For the many folks who will be aging at home, keeping regular social contact is essential for wellbeing.  YouthCare offers regular social interaction in an educational and clinically prepared setting to serve folks living with AD.  </p>

    <p>YouthCare has already recruited more than 20 USC students and will be ready to start serving caregivers starting February 13th. Referrals for the program for caregivers primarily come from <a href="http://www.alzgla.org/">Alzheimer’s Greater Los Angeles</a> and the <a href="https://www.fcscgero.org/">USC Family Caregiver Support Center</a>. Student recruitment is done through <a href="https://www.facebook.com/USCSGA/"> USC Student Gerontology Association </a></p>
    
    <h4>YMAA's CEO Testifies in the Assembly Budget Subcommittee</h4>
    <br>
    <video width="100%" controls>
    	<source src="assets/vidoes/AB2101NihalTestimony.mp4" type="video/mp4">
    </video>
</div>
</div>

  