<div id="splashChapter" class="joinTheMovement">
    <div class="overlay container-fluid">
        <div class="container text-center">
            <div class="row">
                <h1>AB 2101</h1>
            </div>
        </div>
    </div>
</div>
<div class="container-fluid generalSection lightSection text-center" id="form">
    <div class="container">
    <div class="row" align="left">
   
    <h2>YMAA introduces the California Care Corps Act as Lead Sponsor</h2>
    <br>
     <h3> AB 2101 </h3>
    <br>
    <p> For many of California's family caregivers, especially those who don't qualify for IHSS, for-profit care options are their only option for getting a break -- meaning approximately $25 per hour.
This expensive figure means many family caregivers in our state are not getting the break they need, and it is no surprise that 40% of them go on to develop clinical depression. For this reason, many of them understandably burnout, and end up moving their loved one to assisted living facilities and nursing homes. The costs of these facilities respectively represent 69.7% and 161% of the median annual income of Californians and are placing extreme strain on our healthcare system.
And this should concern every Californian. With the baby-boomers entering their retirement years, the need for these services is expected to double by 2030, effectively bankrupting Medicare and Medical. Moreover, this wave of aging is on target to cause a workforce crisis with less children under 18 than adults over 65 for the first time in 2025.
AB 2101 is a critical solution to these statewide concerns. This bill, a bipartisan effort between Assemblymember Acosta (R) and Assemblymember Garcia (D), calls for the creation of the California Care Corps, a workforce development program that incentivizes high school and college graduates to provide full-time non-medical care to a senior with cognitive impairment. This incentivization is modeled similarly to AmeriCorps and includes a monthly stipend to cover living expenses and travel, with educational grants upon completion of a year of providing care. Some of the funding in the bill is also directed towards the California Caregiver Resource Centers to implement the program, and towards the creation of an advisory council to assess effectivity of the model.
This pilot represents several potential benefits to Californians. The break that this provides to family caregivers means a reduced burden on our state’s mental health services. If each of the seniors who are partnered with a corps member age in place by an extended two months, the cost of the bill is paid back 2/3rds through healthcare savings. In addition, the many caregivers who have given up working to provide full-time care for their loved one are now able to re-enter the workforce. If 50% of the recipients of this program go back to work at the state’s median salary, an additional 10% of the bill’s costs are repaid directly through state taxes. In essence, the bill not only represents benefits for our healthcare system and our families dealing with long-term care needs, but it also is a fiscally responsible spending of our tax payer's dollars. 
The Youth Movement Against Alzheimer's, in conjunction with 16 other Alzheimer's and aging organizations across the state, ask you to support AB 2101, the California Care Corps Act. In order for our effort to succeed, we need to pass the Assembly Committee on Appropriations, and WE NEED YOUR HELP. Please call (916 - 319 - 2080), email, or otherwise contact Assembly Appropriations Committee Chair Gonzalez Fletcher to let her know you support this bill.
Thank you for your advocacy. Real change is possible because of you.
For questions about this bill, please feel free to contact our CEO directly.

----------------------------------------

Call Script:Hello, my name is _______ and I am a California resident. I am calling to let Representative Gonzalez Fletcher know that I support AB 2101, the California Care Corps Act, which calls for the creation of a workforce pilot program to incentivize youth to work in fields of aging by providing respite care for California's family caregivers. This bill is critical for caregivers around the state who have loved ones with cognitive impairment and to the future stability of our state's healthcare system. I want her to pass it through the Assembly Appropriations Committee. As Chair, Representative Gonzalez Fletcher has a tremendous amount of influence on this decision and I hope she will use her leadership to support this critical effort, spearheaded by an organization founded at her alma mater. 
----------------------------------------
AB 2101 has the support of the following organizations and individuals:The Youth Movement Against Alzheimer's’ (Lead Sponsor)Association of Caregiver Resource CentersAlzheimer’s AssociationAlzheimer’s Greater Los AngelesAlzheimer’s San DiegoCalifornia Senior LegislaturePartners in Care FoundationLatino Coalition for a Healthy CaliforniaSt. Barnabas Senior ServicesLos Angeles Aging and Advocacy CoalitionSwipe Out HungerLA KitchenLeeza’s Care ConnectionSan Diego Regional CenterMotion Picture Television FundWomen’s Alzheimer’s MovementLA Councilmember David RyuProfessor Fernando Torres-Gil - Former US Asst. Secretary on AgingDr. Gary Small - Internationally renowned Geriatric Psychiatrist</p>
    
    <h4>YMAA's CEO Testifies in the Assembly Budget Subcommittee</h4>
    <br>
    <video width="100%" autoplay controls>
    	<source src="assets/videos/AB2101NihalTestimony.webm" type="video/webm">
    	<source src="assets/videos/AB2101NihalTestimony.ogg" type="video/ogg">
    	<source src="assets/videos/AB2101NihalTestimony.mp4" type="video/mp4">
    	Your browser does not support this video
    </video>
</div>
</div>

  