<div id="splashChapter" class="joinTheMovement">
    <div class="overlay container-fluid">
        <div class="container text-center">
            <div class="row">
                <h1>AB 568</h1>
                <h2>Scroll down to see how you can support!</h2>
            </div>
        </div>
    </div>
</div>
<div class="container-fluid generalSection lightSection text-center" id="form">
    <div class="container">
    <div class="row" align="left">
   
    <h2>YMAA introduces the California Care Corps Act as Lead Sponsor</h2>
    <br>
     <h3> AB 568 </h3>
    <br>
    <p> For many of California's family caregivers, especially those who don't qualify for IHSS, for-profit care options are their only option for getting a break -- meaning approximately $25 per hour.</p>

<p>This expensive figure means many family caregivers in our state are not getting the break they need, and it is no surprise that <b> 40% of them go on to develop clinical depression.</b> For this reason, many of them understandably burnout, and end up moving their loved one to assisted living facilities and nursing homes. The costs of these facilities respectively represent 69.7% and 161% of the median annual income of Californians and are placing extreme strain on our healthcare system.</p>

<p><b>And this should concern every Californian.</b> With the baby-boomers entering their retirement years, the need for these services is expected to double by 2030, effectively bankrupting Medicare and Medical. Moreover, this wave of aging is on target to cause a workforce crisis with fewer children under 18 than adults over 65 for the first time in 2025.</p>

<p> <a href="http://leginfo.legislature.ca.gov/faces/billTextClient.xhtml?bill_id=201920200AB568">AB 568</a> is a critical solution to these statewide concerns. This bill, led by Assemblywoman Eloise Gomez Reyes (D), creates the California Care Corps, a program which incentivizes young high school graduates to spend one to two years providing non-medical respite care family caregivers of persons with PWDs. This program will prepare the state’s future workforce to address the growing aging population, reduce the financial burden dementia and related diseases place on Medi-Cal. This program is slated to be operated by California Volunteers.</p>

<p>This pilot represents several potential benefits to Californians. The break that this provides to family caregivers means a reduced burden on our state’s mental health services. If each of the seniors who are partnered with a corps member age in place by an extended two months, the cost of the bill is paid back 2/3rds through healthcare savings. In addition, the many caregivers who have given up working to provide full-time care for their loved one are now able to re-enter the workforce. If 50% of the recipients of this program go back to work at the state’s median salary, an additional 10% of the bill’s costs are repaid directly through state taxes. In essence, the bill not only represents benefits for our healthcare system and our families dealing with long-term care needs, but it also is a fiscally responsible spending of our tax payer's dollars. </p>

<p>The Youth Movement Against Alzheimer's, in conjunction with several other Alzheimer's and aging organizations across the state, ask you to support AB 568, the California Care Corps Act. In order for our effort to succeed, <b><i>WE NEED YOUR HELP.</i> Please take 2 minutes to fill out <a href="http://bit.ly/CareCorpsAdvocate" target="_blank">this google form</a>, and join the list of advocates supporting this effort.</b></p>

<p>Thank you for your advocacy. Real change is possible because of you.
For questions about this bill, please feel free to <a href="mailto:shyam@theyouthmovement.org">contact our Director of Public Policy.</a></p>


<br>
<h3>Press</h3>

<h4><a href="https://news.memorywell.com/2019/04/18/can-a-volunteer-care-corps-create-a-pipeline-of-long-term-care-workers/">MemoryWell</a></h4>
<h4><a href="https://a47.asmdc.org/press-releases/20190215-assemblymember-reyes-create-california-care-corps">Office of Assemblymember Reyes</a></h4>
<h4><a href="https://www.today.com/health/more-millennials-are-caring-loved-ones-alzheimer-s-t131854">Today Show</a></h4>
<h4><a href="https://www.americanbar.org/groups/law_aging/publications/bifocal/vol_34/issue_6_august2013/caregiver_corps/">White House Petition</a></h4>



<br>
<!--
<h3>Call Script</h3>

<h4> Please call Assemblywoman Gonzalez Fletcher to help us pass AB 2101 </h4>
<h4> 916 - 319 - 2080 </h4>

<p>Hello, my name is _______ and I am a California resident. I am calling to let Representative Gonzalez Fletcher know that I support AB 2101, the California Care Corps Act, which calls for the creation of a workforce pilot program to incentivize youth to work in fields of aging by providing respite care for California's family caregivers. This bill is critical for caregivers around the state who have loved ones with cognitive impairment and to the future stability of our state's healthcare system. I want her to pass it through the Assembly Appropriations Committee. (If this passes, I would be interested in joining the Care Corps). As Chair, Representative Gonzalez Fletcher has a tremendous amount of influence on this decision and I hope she will use her leadership to support this critical effort, spearheaded by an organization founded at her alma mater. </p>
<br>
-->
<h3>Current Support</h3>
<h5>Updated: April 3rd, 2019</h5>

AB 568 has the support of the following organizations and individuals:

<ul>
	<li>The Youth Movement Against Alzheimer's’ (Lead Sponsor)</li>
	<li>Eric Garcetti, Mayor of Los Angeles</li>
	<li>Association of Caregiver Resource Centers</li>
	<li>Alzheimer’s Greater Los Angeles</li>
	<li>Alzheimer’s Orange County</li>
	<li>Alzheimer’s San Diego</li>
	<li>California Collaborative for Long-Term Services & Supports</li>
	<li>California Medical Association</li>
	<li>California Senior Legislature</li>
	<li>Congress of California Seniors</li>
	<li>Independent Living Resource Center</li>
	<li>La Maestra Community Health Centers</li>
	<li>Leeza’s Care Connection</li>
	<li>LifeSTEPS</li>
	<li>Los Angeles Aging and Advocacy Coalition</li>
	<li>Los Angeles LGBT Center </li>
	<li>Lutheran Office of Public Policy--California</li>
	<li>Multipurpose Senior Services Program Site Association</li>
	<li>Public Law Center</li>
	<li>Senior Care Authority</li>
	<li>Service Year Alliance</li>
	<li>St. Barnabas Senior Services</li>
	<li>USC Roybal Institute</li>
	<li>UCLA Longevity Center</li>


    </ul>
    <br>
    <br>
    <h2>YMAA's CEO Testifies in the Assembly Budget Subcommittee in 2018</h2>
    <video width="100%" controls autoplay poster="assets/videos/placeholderTestimony.jpg">
    	<source src="assets/videos/AB2101NihalTestimony.webm" type="video/webm">
    	<source src="assets/videos/AB2101NihalTestimony.ogg" type="video/ogg">
    	<source src="assets/videos/AB2101NihalTestimony.mp4" type="video/mp4">
    	Your browser does not support this video
    </video>
    <br>
    <br>
    <h2> Numbers and Benefits </h2>
    <img src="assets/videos/infographic.jpg" alt="AB568 Infographic" width="100%">
</div>
</div>

  