<div id="splashChapter" class="joinTheMovement">
    <div class="overlay container-fluid">
        <div class="container text-center">
            <div class="row">
                <h1>COVID-19 Statement</h1>
            </div>
        </div>
    </div>
</div>
<div class="container-fluid generalSection lightSection text-center" id="form">
    <div class="container">
    <div class="row">
   
  
    <h2>March 13th, 2019</h2>
  
 <div class="row" align="left">   
   <p> Dear YMAA Community,</p>


<p>In accordance with the national public health warnings, we are taking precautions to prevent the spread of Coronavirus (COVID-19). </p>


<p>Our in-home intergenerational respite care program, Youthcare, which many of you have supported throughout its development, was scheduled to launch this week. After careful deliberation, the YMAA team has decided to postpone this launch. This decision did not come lightly, but due to the heightened risk toward the elderly population who are more vulnerable to contracting the more severe symptoms of COVID-19, we must be considerate of the people we are servicing, and think of the health and safety of them as well as our volunteers.</p>


<p>Additionally, we are postponing all in-person events and using online methods to conduct meetings. We encourage all of our chapters and chapter members across the country to take the necessary precautions by staying at home and pausing all volunteer activities that involve large gatherings. We also understand that seniors are more likely to be isolated during this time, and we encourage volunteers to participate in senior food drop-offs and to check-in with them via phone. We encourage you all to monitor any information from the Centers for Disease Control and Prevention on the <a href="https://www.cdc.gov/coronavirus/2019-ncov/summary.html">Coronavirus Disease (COVID-19)</a> as well as any local agencies in order to remain updated on the spread of the disease and prevention methods.</p>


<p>Even though you may not contract the disease, it is very possible that you may spread it to someone who is immunocompromised. The individuals in the YMAA community are passionate leaders, and we would hope to see that translate to matters outside of Alzheimer’s as well, especially regarding health and wellness. We must be smart, protect ourselves, and help protect seniors during this difficult time.</p>


<p>Our team will be working in the next 2 months to determine a more long-term strategy for the continued growth of our movement during the time of this viral spread. Should you have any further questions or concerns please feel free to contact our CEO Kathy Rose directly at <a href="mailto:kathy@youthmovement.org?Subject=COVID19%20Response" target="_top">kathy@theyouthmovement.org.</a></p>



<p>Sincerely, </p>



<p>Kathy Rose <br />
    CEO</p>



<p>Nihal Satyadev, MPH <br />
Co-founder and Board Chair</p>
</div>   

</div>
</div>

  