<div class="container-fluid generalSection lightSection text-center" id="form">
	<div class="container" style="text-align:left;">
		<form style="margin-top:200px;">
			<div class="row">
				<h1>Create new School</h1>
			</div>
			<div class="row">
				<label for="name">Name</label><br>
				<input type="text" name="name" ng-model="name" placeholder="Name" required/>
			</div>
			<div class="row">
				<label for="name">Password</label><br>
				<input type="text" name="password" ng-model="password" placeholder="Password" required/>
			</div>

			<div class="row" style="margin-top:20px;">
				<button class="btn verifyName">Check</button>
				 {{verifyStatus}}
			</div>

			<div class="row" style="margin-top:20px;">
				<label for="address">Address</label><br>
				<textarea name="address" ng-model="address" placeholder="Address"></textarea>
			</div>

			<div class="row" style="margin-top:20px;">
				<label for="state">State</label><br>
				<textarea name="state" ng-model="state" placeholder="State"></textarea>
			</div>


			<div class="row" style="margin-top:20px;">
				<label for="impact">Impact</label><br>
				<textarea name="impact" ng-model="impact" placeholder="What does your chapter do differently?"></textarea>
			</div>

			<div class="row" style="margin-top:20px;">
				<label for="background">Background</label><br>
				<textarea name="background" ng-model="background" placeholder="Background URL"></textarea>
			</div>


			<div class="row" style="margin-top:20px;">
				<label for="prevFunds">Previous Funds</label><br>
				<textarea name="prevFunds" ng-model="prevFunds" placeholder="Previous Funds"></textarea>
			</div>

			<div class="row" style="margin-top:20px;">
				<label for="fundGoals">Fund Raising Goals</label><br>
				<textarea name="fundGoals" ng-model="fundGoals" placeholder="Fund Raising Goals"></textarea>
			</div>


			<div class="row" style="margin-top:20px;">
				<label>Social Media Links</label><br>
				<input type="text" name="fb_link" ng-model="fb_link" placeholder="facebook" />
				<input type="text" name="instagram_link" ng-model="instagram_link" placeholder="instagram" />
				<input type="text" name="twitter_link" ng-model="twitter_link" placeholder="twitter" />
			</div>
			<div class="row" style="margin-top:20px;">
				<label>Calendar Link</label><br>
				<input type="text" name="calendar" ng-model="calendar" placeholder="calendar" />
			</div>
			<div class="row" style="margin-top:20px;">
				<label>Galleria Link</label><br>
				<input type="text" name="galleria" ng-model="galleria" placeholder="galleria" />
			</div>
			<div class="row" style="margin-top:20px;">
				<label>Members</label><br>
				<div class="uploadMembers" style="margin-top:10px;">
					<image ng-src="{{prof_urls[0]}}" ng-show="prof_urls[0]">
					<input type="file" name="prof_pic1" ng-model="prof_pic1" placeholder="Member Picture" file-model="myFile1" class="lol"/>
					<input type="text" name="name1" ng-model="name1" placeholder="Name"/>
					<input type="text" name="position1" ng-model="position1" placeholder="Position"/>
					<button class="btn imageUpload" ng-click="uploadImage(0)">Upload</button>
					{{imageError[0]}}
				</div>

				<div class="uploadMembers" style="margin-top:10px;">
					<image ng-src="{{prof_urls[1]}}" ng-show="prof_urls[1]">
					<input type="file" name="prof_pic2" ng-model="prof_pic2" placeholder="Member Picture" file-model="myFile2"/>
					<input type="text" name="name2" ng-model="name2" placeholder="Name"/>
					<input type="text" name="position2" ng-model="position2" placeholder="Position"/>
					<button class="btn imageUpload" ng-click="uploadImage(1)">Upload</button>
					{{imageError[1]}}
				</div>

				<div class="uploadMembers" style="margin-top:10px;">
					<image ng-src="{{prof_urls[2]}}" ng-show="prof_urls[2]">
					<input type="file" name="prof_pic3" ng-model="prof_pic3" placeholder="Member Picture" file-model="myFile3"/>
					<input type="text" name="name3" ng-model="name3" placeholder="Name"/>
					<input type="text" name="position3" ng-model="position3" placeholder="Position"/>
					<button class="btn imageUpload" ng-click="uploadImage(2)">Upload</button>
					{{imageError[2]}}
				</div>

				<div class="uploadMembers" style="margin-top:10px;">
					<image ng-src="{{prof_urls[3]}}" ng-show="prof_urls[3]">
					<input type="file" name="prof_pic4" ng-model="prof_pic4" placeholder="Member Picture" file-model="myFile4"/>
					<input type="text" name="name4" ng-model="name4" placeholder="Name"/>
					<input type="text" name="position4" ng-model="position4" placeholder="Position"/>
					<button class="btn imageUpload" ng-click="uploadImage(3)">Upload</button>
					{{imageError[3]}}
				</div>

				<div class="uploadMembers" style="margin-top:10px;">
					<image ng-src="{{prof_urls[4]}}" ng-show="prof_urls[4]">
					<input type="file" name="prof_pic5" ng-model="prof_pic5" placeholder="Member Picture" file-model="myFile5"/>
					<input type="text" name="name5" ng-model="name5" placeholder="Name"/>
					<input type="text" name="position5" ng-model="position5" placeholder="Position"/>
					<button class="btn imageUpload" ng-click="uploadImage(4)">Upload</button>
					{{imageError[4]}}
				</div>

				<div class="uploadMembers" style="margin-top:10px;">
					<image ng-src="{{prof_urls[5]}}" ng-show="prof_urls[5]">
					<input type="file" name="prof_pic6" ng-model="prof_pic6" placeholder="Member Picture" file-model="myFile6"/>
					<input type="text" name="name6" ng-model="name6" placeholder="Name"/>
					<input type="text" name="position6" ng-model="position6" placeholder="Position"/>
					<button class="btn imageUpload" ng-click="uploadImage(5)">Upload</button>
					{{imageError[5]}}
				</div>
			</div>

			<div class="row" style="margin-top:20px;">
				<label>News</label><br>
				<div class="uploadMembers" style="margin-top:10px;">
<!-- 					<input type="file" name="article_pic1" ng-model="article_pic1" placeholder="Member Picture" file-model="articleFile1"/> -->
					<input type="text" name="title1" ng-model="title1" placeholder="Name"/>
					<input type="text" name="date1" ng-model="date1" placeholder="Date"/>
					<input type="text" name="article_url1" ng-model="article_url1" placeholder="Article Link"/>
				</div>

				<div class="uploadMembers" style="margin-top:10px;">
					<!-- <input type="file" name="article_pic2" ng-model="article_pic2" placeholder="Member Picture" file-model="articleFile2"/> -->
					<input type="text" name="title2" ng-model="title2" placeholder="Name"/>
					<input type="text" name="date2" ng-model="date2" placeholder="Date"/>
					<input type="text" name="article_url2" ng-model="article_url2" placeholder="Article Link"/>
				</div>

				<div class="uploadMembers" style="margin-top:10px;">
					<!-- <input type="file" name="article_pic3" ng-model="article_pic3" placeholder="Member Picture" file-model="articleFile3"/> -->
					<input type="text" name="title3" ng-model="title3" placeholder="Name"/>
					<input type="text" name="date3" ng-model="date3" placeholder="Date"/>
					<input type="text" name="article_url3" ng-model="article_url3" placeholder="Article Link"/>
				</div>
			</div>

			<div class="row" style="margin-top:20px;">
				<button class="btn createSubmit">Submit</button>
			</div>
		</form>
	</div>
</div>