<div id="splashChapter" class="joinTheMovement">
    <div class="overlay container-fluid">
        <div class="container text-center">
            <div class="row">
                <h1>Current Chapters</h1>
            </div>
        </div>
    </div>
</div>
<div class="container-fluid generalSection lightSection text-center" id="form">
    <div class="container">
    <div class="row">
   
  
    <h4> Updated as of August 2020 </h4>
    
    <table class="chapterTable">
        <thead>
            <tr>
              <th>School</th>
              <th>State</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td>(UAB) University of Alabama - Birmingham</td>
              <td>Alabama</td>
            </tr>
            <tr>
              <td>Homewood High School</td>
              <td>Alabama</td>
            </tr>
            <tr>
              <td>UCLA</td>
              <td>California</td>
            </tr>
            <tr>
              <td>UCI</td>
              <td>California</td>
            </tr>
            <tr>
              <td>UCSD</td>
              <td>California</td>
            </tr>
            <tr>
              <td>Evergreen Valley High School</td>
              <td>California</td>
            </tr>
            <tr>
              <td>Corona del Mar High School</td>
              <td>California</td>
            </tr>
            <tr>
              <td>Sequoyah High School</td>
              <td>California</td>
            </tr>
            <tr>
              <td>Monta Vista High School</td>
              <td>California</td>
            </tr>
            <tr>
              <td>University High School</td>
              <td>California</td>
            </tr>
            <tr>
              <td>Portola High School</td>
              <td>California</td>
            </tr>
            <tr>
              <td>UCSB</td>
              <td>California</td>
            </tr>
            <tr>
              <td>University of Redlands</td>
              <td>California</td>
            </tr>
            <tr>
              <td>Leland High School</td>
              <td>California</td>
            </tr>
            <tr>
              <td>Georgetown University</td>
              <td>DC</td>
            </tr>
            <tr>
              <td>Barbara Goleman High School</td>
              <td>Florida</td>
            </tr>
            <tr>
              <td>University of South Florida </td>
              <td>Florida</td>
            </tr>
            <tr>
              <td>Florida State College at Jacksonville</td>
              <td>Florida</td>
            </tr>
            <tr>
              <td>Peachtree Ridge High School</td>
              <td>Georgia</td>
            </tr>
            <tr>
              <td>University of Kentucky</td>
              <td>Kentucky</td>
            </tr>
            <tr>
              <td>Lexington High School</td>
              <td>Massachusetts</td>
            </tr>
            <tr>
              <td>Brandeis University</td>
              <td>Massachusetts</td>
            </tr>
            <tr>
              <td>Boston University</td>
              <td>Massachusetts</td>
            </tr>
            <tr>
              <td>University of Mississippi</td>
              <td>Mississippi</td>
            </tr>
            <tr>
              <td>Columbia University</td>
              <td>New York</td>
            </tr>
            <tr>
              <td>Case Western Reserve University</td>
              <td>Ohio</td>
            </tr>
            <tr>
              <td>University of Pittsburgh</td>
              <td>Pennsylvania</td>
            </tr>
            <tr>
              <td>Brown University</td>
              <td>Rhode Island</td>
            </tr>
            <tr>
              <td>Texas Christian University</td>
              <td>Texas</td>
            </tr>
            <tr>
              <td>University of Texas at Arlington</td>
              <td>Texas</td>
            </tr>
            <tr>
              <td>Obra D. Tompkins High School</td>
              <td>Texas</td>
            </tr>
            <tr>
              <td>Virginia Commonwealth University</td>
              <td>Virginia</td>
            </tr>
            <tr>
              <td>Thomas Jefferson High School for Science and Technology</td>
              <td>Virginia</td>
            </tr>
          </tbody>
        </table>
   
</div>
</div>
</div>

  