
<div id="splashChapter">
    <div class="overlay container-fluid">
        <div class="container text-center">
            <div class="row">
                <h1>{{school.name}}</h1>                
            </div>
            <div class="row">
                <h2>404 Page Not found</h2>
            </div>
            <!-- <div class="row chapterSocials">
                <a href="{{school.fb_link}}"><i class="fa fa-facebook"></i></a>
                <a href="{{school.instagram_link}}"><i class="fa fa-instagram"></i></a>
                <a href="{{school.twitter_link}}"><i class="fa fa-twitter"></i></a>
            </div>  -->
        </div>
    </div>
</div>
