<script src="../public/ammap/ammap.js" type="text/javascript"></script>
<link rel="stylesheet" href="../public/ammap/ammap.css" type="text/css" media="all" />
<script src="../public/ammap/usa2High.js" type="text/javascript"></script>
<div id="splash">
  <div class="overlay container-fluid">
    <div class="container text-center">
      <div class="row">
        <h1 data-rotateText="Alzheimer’s care is 7% of the entire federal budget,40% of Alzheimer's caregivers<br>suffer from depression,Alzheimer's will bankrupt<br>our healthcare system">Alzheimer’s care is 7% of the entire federal budget</h1>
      </div>
      <div class="row">
        <p>We're on a mission to change that</p>
      </div>
      <div class="row buttons">
        <a class="sexy" href="#/donate">Donate</a>
        <a class="sexy highlight" href="https://www.facebook.com/sharer/sharer.php?u=http%3A//theyouthmovement.org">Share our Message</a>
        <a class="sexy" href="#/join">Start A Chapter</a>
      </div>
      <div class="row signup">
        <input type="text" name="emailSignup" placeholder="Enter your email to sign up to our newsletter" /><a class="signUpHomeBtn">Sign Up</a>
      </div>
      <div class="splashImpact row">
        <div class="col-xs-4 stats">
          <h2 class="number">31</h2>
          <p class="description"><i class="fa fa-book"></i>Chapters</p>
        </div>
        <div class="col-xs-4 stats">
          <h2 class="number">$10,000</h2>
          <p class="description"><i class="fa fa-money"></i>scholarships</p>
        </div>
        <div class="col-xs-4 stats">
          <h2 class="number">5000+<span>hrs</span></h2>
          <p class="description"><i class="fa fa-stethoscope"></i>respite provided</p>
        </div>
      </div>
    </div>
  </div>
</div>
<div id="why" class="container-fluid generalSection lightSection text-center">
  <div class="container">
    <div class="row">
      <h1>Why should you care?</h1>
    </div>
    <div class="row whyPoints">
      <div class="col-xs-12 col-lg-8 col-lg-offset-2">
        <div class="row whyPoint" >
          <img src="../public/assets/images/why1.png" class="mobileOnly">
          <p>Of the top 10 <b>leading causes of death</b>, Alzheimer’s is the 6th and the only one that <b>cannot be slowed, prevented or cured.</b></p>
        </div>
        <div class="row whyPoint" >
          <p>Total cost of care for those with Alzheimer’s.
            <br>
            <span class="purple"><span class="circle"></span> = 2015</span>
            <span class="light"><span class="circle"></span> = 2050</span>
            <img src="../public/assets/images/why2.png" class="mobileOnly">
          </p>
        </div>
        <div class="row whyPoint" >
          <img src="../public/assets/images/why3.png" class="mobileOnly">
          <p>More than 5 million people are living with Alzheimer's Disease in the U.S. This number is predicted to reach up to <b>16 million by 2050.</b></p>
        </div>
        <div class="row whyPoint" >
          <p>Nearly <b>two thirds</b> of Americans with Alzheimers are <b>women</b>.
          </p>
          <img src="../public/assets/images/why4.png" class="mobileOnly">
        </div>
      </div>
    </div>
  </div>
</div>
<div id="where" class="container-fluid generalSection lightSection text-center">
  <div class="container">
    <div class="row">
      <h1>Where are we now?</h1>
    </div>
    <div class="row">
      <!-- <img src="assets/images/map.png"> -->
      <!-- <div id="mapdiv" style="width: 800px; height: 500px; display: inline-block;"></div> -->
      <iframe src="https://www.google.com/maps/d/u/0/embed?mid=1i9yAEOND7s_J3eYOqNjevy_36y4" width="100%" height="480"></iframe>
    </div>
    <div class="row marginTop20">
      <p class="text-left-mob text-pad-mob">Each chapter of our national network seeks to cure Alzheimer's through various efforts. Starting a chapter at your high school or college is a grassroots, high-impact first step toward inspiring your community to end this disease. Every chapter receives personalized advice from our volunteer staff to help it grow and webspace to promote their efforts. Check out our <a href="#/UCLA">founding chapter</a>!</p>
    </div>
    <div class="row marginTop20 buttons">
      <a class="sexy purple highlight" href="#/join">Start A Chapter</a>
    </div>
  </div>
</div>
<div id="makeDifference" class="container-fluid generalSection lightSection text-center">
  <div class="container">
    <div class="row">
      <h1>You can make a difference</h1>
    </div>
    <div class="row marginTop20">
      <div class="col-xs-12 col-md-6 col-lg-4 col-lg-offset-2">
        <div class="row">
          <div class="program">
            <div class="heading">
              <h3>
              Alzheimer's<br>
              research-scholarship<br>
              program</h3>
            </div>
            <div class="details">
              <p>
                The program will channel some of the brightest young minds across the country to actively work on <b>conducting either clinical or laboratory research related to the disease</b> for a full academic year.
              </p>
              <a class="purple sexy highlight" href="#/research">Learn More</a>
            </div>
          </div>
        </div>
      </div>
      <div class="col-xs-12 col-md-6 col-lg-4">
        <div class="row">
          <div class="program">
            <div class="heading second">
              <h3>
              Low-Cost<br>
              Respite Care<br>
              program at USC</h3>
            </div>
            <div class="details">
              <p>
                To <b>combat the loneliness felt by individuals with Alzheimer’s</b>, each USC student in the program is paired with a senior and spends time with them three to six hours every week.
              </p>
              <a class="purple sexy highlight" href="http://www.youthcaregiving.org/">YouthCare</a>
            </div>
          </div>
        </div>
      </div>
      
    </div>
  </div>
</div>
<div id="logoQuilt" class="container-fluid generalSection lightSection text-center">
  <div class="container">
    <div class="row">
      
      <img src="../public/assets/images/media-features/TodayShow.png">
      <img src="../public/assets/images/media-features/NYTimes.png">
      
      <img src="../public/assets/images/media-features/abc7logo.png">
      <img src="../public/assets/images/media-features/mayoClinic.png">
      
    </div>
    <br>
    <div class="row">
    <img src="../public/assets/images/media-features/tedmed.png">
    <img src="../public/assets/images/media-features/NBCNews.png">

    <img src="../public/assets/images/media-features/ForbesLogo.png">

    </div>
  </div>
</div>
<div id="logoQuilt" class="container-fluid generalSection lightSection text-center">
  <div class="container">
       <div class="row">
      	<a href="http://curethecloud.org/"><img src="../public/assets/images/ctc-logo.png" style="height: 60px;"></a>
      	<a href="https://www.usagainstalzheimers.org/"><img src="../public/assets/images/Usa2Sponsor.png"></a>
      	
      	<a href="https://www.cigna.com/"><img src="../public/assets/images/CignaSponsor.png"></a>
      	<!--<a href="http://www.thegilbertfoundation.org/"><img src="../public/assets/images/tragfLogo.png"></a> -->
		<a href="http://eisnerfoundation.org/"><img src="../public/assets/images/EisnerFoundation.png" style="height: 60px;"></a>  
		
	</div>
	<br>
    <div class="row">

     
		
	</div>
	<br>
    <div class="row">
    	<a href="http://www.brightfocus.org/"><img src="../public/assets/images/brightfocusLogo.png" style="padding-top:7px; padding-bottom:7px;"></a> 
    	<a href="https://annenberg.org/"><img src="../public/assets/images/AnnenbergSponsor.png" style="padding-top:7px; padding-bottom:7px;"></a> 
    	<a href="https://www.mittun.com/"><img src="../public/assets/images/mittunLogo.png" style="padding-top:7px; padding-bottom:7px;"></a>
    	<a href="https://www.savonix.com/"><img src="../public/assets/images/SavonixSponsor.png" style="padding-top:7px; padding-bottom:7px;"></a>

    </div>
  </div>
</div>
<!-- Uncomment/Recomment the popup below -->


<!--
<div align="center" class="popup" id="popup1">

  <div  class="popup__prompt" style="width: 302px">
    <h3>Support Intergenerational Caregiving Policy</h3>
  <a class="purple sexy highlight" href="https://bit.ly/CareCorpsAdvocate">Click Here!</a>
  <br>
  <br>


 </div>
</div>
-->




<script type="text/javascript">
$(".popup").fadeOut();
var icon= "M233.292,0c-85.1,0-154.334,69.234-154.334,154.333c0,34.275,21.887,90.155,66.908,170.834 c31.846,57.063,63.168,104.643,64.484,106.64l22.942,34.775l22.941-34.774c1.317-1.998,32.641-49.577,64.483-106.64 c45.023-80.68,66.908-136.559,66.908-170.834C387.625,69.234,318.391,0,233.292,0z M233.292,233.291c-44.182,0-80-35.817-80-80 s35.818-80,80-80c44.182,0,80,35.817,80,80S277.473,233.291,233.292,233.291z";
AmCharts.makeChart( "mapdiv", {
/**
* this tells amCharts it's a map
*/
"type": "map",
"showDescriptionOnHover":true,
"backgroundColor":"rgba(129, 2, 141, 0.4)",
/**
* create data provider object
* map property is usually the same as the name of the map file.
* getAreasFromMap indicates that amMap should read all the areas available
* in the map data and treat them as they are included in your data provider.
* in case you don't set it to true, all the areas except listed in data
* provider will be treated as unlisted.
*/
"dataProvider": {
"map": "usa2High",
"getAreasFromMap": false,
"images": [ {
"latitude": 37.8716,
"longitude": -122.2727,
"svgPath": icon,
"color": "rgba(234, 173, 37, 1)",
"scale": 0.05,
"title": "UC Berkeley",
"description":"Social icons here",
"labelShiftY": 2
},
{
"latitude": 34.4208,
"longitude": -119.6982,
"svgPath": icon,
"color": "rgba(234, 173, 37, 1)",
"scale": 0.05,
"title": "UC Santa Barbara",
"description":"Social icons here",
"labelShiftY": 2
},
{
"latitude": 34.0522,
"longitude": -118.2437,
"svgPath": icon,
"color": "rgba(234, 173, 37, 1)",
"scale": 0.05,
"title": "UCLA",
"description":"Social icons here",
"labelShiftY": 2
},
{
"latitude": 42.3770,
"longitude": -71.1167,
"svgPath": icon,
"color": "rgba(129, 2, 141, 1)",
"scale": 0.05,
"title": "Harvard Univeristy",
"description":"Social icons here",
"labelShiftY": 2
}
]
},
/**
* create areas settings
* autoZoom set to true means that the map will zoom-in when clicked on the area
* selectedColor indicates color of the clicked area.
*/
"areasSettings": {
"autoZoom": false,
"unlistedAreasColor": "#744FFF",
"unlistedAreasAlpha": 0.7
}
} );
</script>
