<div id="splashChapter" class="joinTheMovement">
    <div class="overlay container-fluid">
        <div class="container text-center">
            <div class="row">
                <h1>Join the Movement</h1>
            </div>
        </div>
    </div>
</div>
<div class="container-fluid generalSection lightSection text-center" id="form">
    <div class="container impact">

    <div class="row">
          <div class="symptoms row shadow-border">
            <h2>What do our chapters do?</h2>

            <ul>
                <li>Host campus-wide advocacy events</li>
                <li>Volunteer and work directly with people who have Alzheimer's</li>
                <li>Collaborate on national policy initaitives</li>
                <li>Organize an engaging annual fundraiser to support caregiving innovation</li>
                <li>Lead local efforts towards a national youth-led intergenerational movement</li>
                
            </ul>
            <br> 
            <center><h4>Scroll through pictures from some of our chapters below </h4></center>
            <center><h4>or see what we are up to on <a href="https://www.instagram.com/theyouthmvmt/" target="_blank">Instagram</a></h4></center>
        </div>
   <br>
    <div id="carousel">
    <div class="slide">
        <img src="assets/images/join2.jpg" height="300" width="600">
    </div>
    <div class="slide">
           <img src="assets/images/join1.JPG" height="300" width="600">
    </div>
    <div class="slide">
           <img src="assets/images/join3.jpg" height="300" width="600">
    </div>
    <div class="slide">
           <img src="assets/images/join4.JPG" class="rotate90" height="300" width="300">
    </div>
    <div class="slide">
           <img src="assets/images/join5.jpg" height="300" width="600">
    </div>
    <div class="slide">
         <img src="assets/images/join6.jpg" height="300" width="600">
    </div>
</div>
<br>

    
    <h2> Are you a high school or undergraduate student? </h2>
    <h4>If so, you might be the next bright leader in this movement</h4>
    <br>

    <br>
    <b><h2>Think you have what it takes?</h2></b>
    <br>
  
    <br>
    <h3>Fill out the form below and you can get started!</h3>
    <h5> If you can't see the form please refresh </h5>


    <en> Join NOW - we are only expanding to <b>9</b> more chapters this year! </en>
    <br>
    <br>
    <div class="typeform-widget" data-url="https://nihal2day.typeform.com/to/Bx2jwA" style="width: 100%; height: 500px;"></div> <script> (function() { var qs,js,q,s,d=document, gi=d.getElementById, ce=d.createElement, gt=d.getElementsByTagName, id="typef_orm", b="https://embed.typeform.com/"; if(!gi.call(d,id)) { js=ce.call(d,"script"); js.id=id; js.src=b+"embed.js"; q=gt.call(d,"script")[0]; q.parentNode.insertBefore(js,q) } })() </script> <div style="font-family: Sans-Serif;font-size: 12px;color: #999;opacity: 0.5; padding-top: 5px;"> powered by <a href="https://admin.typeform.com/signup?utm_campaign=Bx2jwA&utm_source=typeform.com-6271513-Basic&utm_medium=typeform&utm_content=typeform-embedded-poweredbytypeform&utm_term=EN" style="color: #999" target="_blank">Typeform</a> </div>
  
    <br>
   
<br>
<br>

 <en> Not sure about anything? </en><br>
 <en>Contact us at <a href="mailto:info@theyouthmovement.org">info@theyouthmovement.org</a>. We love helping our peers join this cause and become rockstar leaders!</en>
<br>
</div>
</div>