<div id="splashChapter" class="joinTheMovement">
    <div class="overlay container-fluid">
        <div class="container text-center">
            <div class="row">
                <h1>Join the Movement</h1>
            </div>
        </div>
    </div>
</div>
<div class="container-fluid generalSection lightSection text-center" id="form">
    <div class="container impact">

    <div class="row">
          <div class="symptoms row shadow-border">
            <h2>What do our chapters do?</h2>

            <ul>
                <li>Host campus-wide advocacy events</li>
                <li>Volunteer and work directly with people who have Alzheimer's</li>
                <li>Collaborate on national policy initaitives</li>
                <li>Organize an engaging annual fundraiser to support caregiving innovation</li>
                <li>Lead local efforts towards a national youth-led intergenerational movement</li>
                
            </ul>
            <br> 
            <center><h3><a href="https://drive.google.com/file/d/0BzBVXUmxGCMYMUNhcjRxTXVLV1BLMk52TEp3S2RhNjZfbzI0/view?usp=sharing" target="_blank">Click here</a> for more information about starting a chapter</h3></center>
            <center><h3>or see what we are up to on <a href="https://www.instagram.com/theyouthmvmt/" target="_blank">Instagram</a></h3></center>
        </div>
   <br>
<!--
    <div id="carousel">
    <div class="slide">
        <img src="assets/images/join2.jpg" height="300" width="600">
    </div>
    <div class="slide">
           <img src="assets/images/join1.JPG" height="300" width="600">
    </div>
    <div class="slide">
           <img src="assets/images/join3.jpg" height="300" width="600">
    </div>
    <div class="slide">
           <img src="assets/images/join4.JPG" class="rotate90" height="300" width="300">
    </div>
    <div class="slide">
           <img src="assets/images/join5.jpg" height="300" width="600">
    </div>
    <div class="slide">
         <img src="assets/images/join6.jpg" height="300" width="600">
    </div>
    </div>
-->
<br>

    
    <h2> Are you a high school or undergraduate student? </h2>
    <h4>If so, you might be the next bright leader in this movement</h4>
    <br>

    <br>
    <b><h2>Think you have what it takes?</h2></b>
    <br>
  
    <br>
    <h3>Fill out the form below and you can get started!</h3>
    <h5> If you can't see the form please refresh </h5>


    <en> Join NOW - we are only expanding to <b>9</b> more chapters this year! </en>
    <br>
    <br>
    <div data-tf-widget="Bx2jwA" style="width:100%;height:500px;"></div><script src="//embed.typeform.com/next/embed.js"></script>
  
    <br>
   
<br>
<br>

 <en> Not sure about anything? </en><br>
 <en>Contact us at <a href="mailto:info@theyouthmovement.org">info@theyouthmovement.org</a>. We love helping our peers join this cause and become rockstar leaders!</en>
<br>
</div>
</div>