<div id="splashChapter" class="joinTheMovement">
    <div class="overlay container-fluid">
        <div class="container text-center">
            <div class="row">
			<h1>Join The YMAA Team!</h1>
			</div>
		</div>
		</div>
	</div>
<br>
<div class="container-fluid generalSection lightSection text-center" id="form">
    <div class="container" style="padding-left: 10px; padding-right: 10px;">

<div class="row">
	<h2> Help us grow the movement! </h2>
	<h3> We are hiring in Los Angeles! </h3>
	<h4><a href="http://bit.ly/ymaapaid">Click Here</a> to see our open paid positions</h4>
	<h5> If you can't see the form please refresh </h5>

	<div class="typeform-widget" data-url="https://nihal2day.typeform.com/to/sLj3ph" style="width: 100%; height: 500px;"></div> <script> (function() { var qs,js,q,s,d=document, gi=d.getElementById, ce=d.createElement, gt=d.getElementsByTagName, id="typef_orm", b="https://embed.typeform.com/"; if(!gi.call(d,id)) { js=ce.call(d,"script"); js.id=id; js.src=b+"embed.js"; q=gt.call(d,"script")[0]; q.parentNode.insertBefore(js,q) } })() </script> <div style="font-family: Sans-Serif;font-size: 12px;color: #999;opacity: 0.5; padding-top: 5px;"> powered by <a href="https://admin.typeform.com/signup?utm_campaign=sLj3ph&utm_source=typeform.com-6271513-Basic&utm_medium=typeform&utm_content=typeform-embedded-poweredbytypeform&utm_term=EN" style="color: #999" target="_blank">Typeform</a> </div>

</div>




<br>


<div class="row">
	<h3> We also need volunteers! </h3>
	<h4><a href="https://www.tinyurl.com/ymaaleader">Click Here</a> to see our open volunteer positions</h4>
	<h5> If you can't see the form please refresh </h5>
	<div class="typeform-widget" data-url="https://nihal2day.typeform.com/to/UBooab" style="width: 100%; height: 500px;"></div><script>(function(){var qs,js,q,s,d=document,gi=d.getElementById,ce=d.createElement,gt=d.getElementsByTagName,id="typef_orm",b="https://s3-eu-west-1.amazonaws.com/share.typeform.com/";if(!gi.call(d,id)){js=ce.call(d,"script");js.id=id;js.src=b+"widget.js";q=gt.call(d,"script")[0];q.parentNode.insertBefore(js,q)}})()</script><div style="font-family: Sans-Serif;font-size: 12px;color: #999;opacity: 0.5; padding-top: 5px;">powered by <a href="https://www.typeform.com/examples/forms/?utm_campaign=UBooab&amp;utm_source=typeform.com-6270579-Basic&amp;utm_medium=typeform&amp;utm_content=typeform-embedded-onlineform&amp;utm_term=EN" style="color: #999" target="_blank">Typeform</a></div>
</div>


</div>
</div>
