<div id="splashChapter" class="joinTheMovement">
    <div class="overlay container-fluid">
        <div class="container text-center">
            <div class="row">
                <h1>Maria Medina, Ed. D</h1>
            </div>
        </div>
    </div>
</div>

<div id="research-2" class="container-fluid lightSection">
    <div class="container">
        <div class="shit-content shadow-border" >
            <p>
                Maria Medina Ed.D has close to 20 years of nonprofit experience, of which over ten years were at the executive level.  Dr. Medina started her career at the State of Wyoming Department of Health, Substance Abuse Division as a Program Manager.  She worked alongside 23 program managers, one in each Wyoming county for 8 years, overseeing substance abuse and prevention programming and worked to recruit and manage a grassroots coalition who would shortly after, achieve the second ever clean indoor air policy across the state, addressing public health concerns for employees exposed to secondhand smoke while at work.  After her tenure with the Department of Health, Dr. Medina accepted the statewide executive director position with the Wyoming chapter of the Susan G. Komen Breast Cancer Foundation. 
            </p><p>
                Dr. Medina was the executive director for five years with SGKWY.  During her time, she grew the program from 5 counties to 23 counties, increasing collaborations, programming and granting across the state and obtained record high fiscal revenue within her first year while meeting high level benchmarks set at the National and local level to address the negative impacts of low breast cancer screening rates across the rural state of Wyoming. 
            </p><p>    
                After a five-year commitment, Dr. Medina relocated to Colorado and accepted a position with the Northern Colorado Medical Society, representing Larimer and Weld counties.  In that position, she worked side by side, with physicians on health care advocacy, educational initiatives and membership management.  During her tenure, she implemented physician recruitment and retention practices that grew the membership by 250 physicians in an 18 month period during a statewide downward trend for physician medical society memberships.  She also worked diligently alongside local physicians to address the opioid epidemic through conducting multiple educational seminars to increase the number of physicians willing to provide medically assisted treatment for opioid use and dependence.  Also, during her time with NCMS, successful statewide legislation was passed addressing advance care directives and implementation of a statewide registry.  
            </p><p>
                After completing three and a half years, Dr. Medina was recruited to work for Spellbinders, an intergenerational program, specializing in pairing older adults with school aged children for oral storytelling, as a collaborative with school districts across 14 chapters Nationwide.  It was during this position that she implemented their first ever annual fundraiser, which raised 150k in just 30 days.  
            </p><p>
                Dr. Medina received her Masters of Arts, specializing in Post-Secondary Education, in 2009 and her Doctorate of Education, specializing in Adult Education, in 2015 and has spent the majority of her career focusing on healthcare related initiatives.  She has a passion for non profit work and feels very blessed for the life experience she has gained in this capacity.  While she specializes in strategic planning, fiscal management, mission expansion and outcomes based programming, she is most excited about new opportunities and is very excited to be able to work with the Youth Movement Against Alzheimers.
</p>
				
		</div>
    </div>
</div>