<div id="splashChapter" class="joinTheMovement">
    <div class="overlay container-fluid">
        <div class="container text-center">
            <div class="row">
                <h1>Maria Medina, Ed. D</h1>
            </div>
        </div>
    </div>
</div>

<div id="research-2" class="container-fluid lightSection">
    <div class="container">
        <div class="shit-content shadow-border" >
            <p>
                Maria Medina Ed.D is a non-profit leader, healthcare advocate and program growth expert who has a passion for helping underserved and underinsured populations. With close to 20 years of nonprofit experience, Dr. Medina has worked on an array of initiatives including substance abuse prevention, breast cancer education and prevention, opioid use and dependence, mental health initiatives, advance care directives, collective impact initiatives, children's literacy and intergenerational programming.  
            </p><p>
                Dr. Medina received her Masters of Arts, specializing in Post-Secondary Education, in 2009 and her Doctorate of Education, specializing in Adult Education, in 2015 and has spent the majority of her career focusing on healthcare related educational initiatives. She has a passion for non profit work and feels very blessed for the life experience she has gained in this capacity. 
            </p><p>    
                As a young girl, Dr. Medina was interested in Alzheimer's and at the age of 10, conducted research and presented to her 5th grade class on the correlation between aluminum intake and Alzheimer's disease. Little did she know that many years later, she would come full circle to be involved on a wide scale level with the Youth Movement Against Alzheimer's.  She is most excited about working alongside chapters with student members on Alzheimer’s advocacy at the national level to push for increased research funding and public health interventions, while promoting brain health through curricula-based education.  She is also very focused on fostering Intergenerational relationships through growing the “YouthCare” program.
            </p>
				
		</div>
    </div>
</div>