<div id="splashChapter" class="joinTheMovement">
    <div class="overlay container-fluid">
        <div class="container text-center">
            <div class="row">
                <h1>Become a YMAA Member</h1>
            </div>
        </div>
    </div>
</div>
<div class="container-fluid generalSection lightSection text-center" id="form">
    <div class="container">
    <div class="row">
    <h2> Fill out the form below & check your email </h2>

    <p>
        By becoming a 2019-2020 YMAA Member, 
you will get access to:<br>

<br>A personal Fundraising Page
<br>A unique members-only emailing list with exclusive YMAA updates and opportunities<br><br>

Your membership kit will include a:<br>

<br>T-shirt
<br>Wristband
<br>Cell-phone wallet
<br>Folder</p>



    <h3> YMAA Membership is $20 </h3><br>






    <p> If your chapter is not listed on question 5, <br>please click <a href="#/join"> here </a>to start a new chapter<br> or <a href="mailto:outreach@theyouthmovement.org">email us</a> if your chapter is missing</p>
    <br>
    <h5> If you can't see the form below, please refresh your web browser</h5>
    <br>
   <div class="typeform-widget" data-url="https://nihal2day.typeform.com/to/i7d8g6" style="width: 100%; height: 500px;"></div> <script> (function() { var qs,js,q,s,d=document, gi=d.getElementById, ce=d.createElement, gt=d.getElementsByTagName, id="typef_orm", b="https://embed.typeform.com/"; if(!gi.call(d,id)) { js=ce.call(d,"script"); js.id=id; js.src=b+"embed.js"; q=gt.call(d,"script")[0]; q.parentNode.insertBefore(js,q) } })() </script> <div style="font-family: Sans-Serif;font-size: 12px;color: #999;opacity: 0.5; padding-top: 5px;"> powered by <a href="https://admin.typeform.com/signup?utm_campaign=i7d8g6&utm_source=typeform.com-6271513-Basic&utm_medium=typeform&utm_content=typeform-embedded-poweredbytypeform&utm_term=EN" style="color: #999" target="_blank">Typeform</a> </div>

</div>
</div>
</div>