<div id="splashChapter" class="joinTheMovement">
    <div class="overlay container-fluid">
        <div class="container text-center">
            <div class="row">
                <h1>Press Releases</h1>
            </div>
        </div>
    </div>
</div>
<div class="container-fluid generalSection lightSection text-center" id="form">
    <div class="container">
    <div class="row" align="left">
   
    <h2>Feb 7th 2018</h2>
    <br>
     <h3> Low-cost Respite Care Program for Dementia Caregivers Launches at USC </h3>
    <br>
    <h3> Youth Movement Against Alzheimer’s partners with USC Leonard Davis School to launch <i>YouthCare</i>, an intergenerational effort to ease caregiver burden, combat social isolation and support aging in place </h3>
    <br>
    <p>LOS ANGELES, CA – Launching Tuesday, Feb 13, <a href="https://youthcaregiving.org/">YouthCare</a> is a new respite care program from the <a href="http://www.theyouthmovement.org/#/">Youth Movement Against Alzheimer’s</a> (YMAA) that pairs undergraduate and graduate students from the <a href="http://gero.usc.edu/">University of Southern California Leonard Davis School of Gerontology</a> with older adults diagnosed with early-stage dementia. </p>
    <p>This pilot project offers three to six hours a week of low-cost care at a community clinic in downtown Los Angeles so that caregivers can get a needed break. Students will socialize, play games, and conduct art activities with the seniors. They will also receive training in the UCLA Longevity Center’s <a href="http://www2.semel.ucla.edu/longevity/brain-boot-camp">Brain Boot Camp</a> memory education program.</p>
    <p>YouthCare recently won <a href="https://challenges.openideo.com/challenge/caregiving-dementia/awards">openIDEO’s Caregiving for Dementia Challenge</a> as the Most Promising Idea amongst the challenge’s 250+ international entries. YMAA plans to launch YouthCare at other college campuses upon a successful pilot at USC.</p>
    <p>“With YouthCare, our goal is to engage young people and expand respite care access to caregivers who currently can’t afford it,” said Nihal Satyadev, the CEO & Co-founder of YMAA. “Through this social enterprise, our organization is looking to fundamentally change the landscape of Alzheimer’s care and reduce the burden caused by this disease for families and our healthcare system.” </p>
    <p>Currently, more than 15 million family and friends in the US provide unpaid assistance to those with Alzheimer's and other dementias. Individuals caring for people with dementia indicate substantial emotional, financial and physical difficulties at twice the rate of other caregivers, according to the Alzheimer’s Association, which also estimates are that one in 10 Americans age 65 and older has Alzheimer's dementia. In the next twelve years, the number of people diagnosed is expected to double from its current 5.5 million to 11 million. </p>
    <p>“We hope to help build a robust intergenerational program that benefits the community, helps humanize the aging experience, and gives older adults a chance to spend time with young people who are engaged in improving aging and aging services today and in the future,” said Anna Quyen Nguyen, director of internship training at the USC Leonard Davis School.</p>
    <p>YouthCare is an effort to expand the benefits from Time-Out, YMAA’s grant-funded model made possible by UCLA Geriatrics and the Eisner Foundation that has matched over 100 students and seniors and provided over 3200 hours of care. In evaluations of that program, 87% of caregivers said they felt a very significant reduction in stress and 73% said the program alone was enough respite for the week. Additional research has shown that respite care not only eases the burden to caregivers, but also allows persons with dementia to live at home for a longer period of time.</p>
    <p> <a href="http://www.alzgla.org/">Alzheimer’s Greater Los Angeles</a> and the <a href="https://www.fcscgero.org/">USC Family Caregiver Support Center</a> are the primary nonprofits referring caregivers to YouthCare, the <a href="https://www.facebook.com/USCSGA/"> USC Student Gerontology Association </a> is recruiting student volunteers, and student interns from the USC Leonard Davis School of Gerontology provide additional support. </p>
    <h4>Media Contact</h4>
    <p>Nihal Satyadev</p>
    <p>714-614-3142</p>
    <p><a href="mailto:nihal@theyouthmovement.org">nihal@theyouthmovement.org</a></p>
    <h4>About The Youth Movement Against Alzheimer’s</h4>
    <p>The Youth Movement Against Alzheimer’s is the nation’s leading nonprofit in providing opportunities for high school and college students to volunteer, research, and advocate for this disease. The organization envisions a culture where youth embrace aging and alleviate the impact of Alzheimer’s. <a href="http://www.theyouthmovement.org/">www.theyouthmovement.org/</a></p>
    <h4>About USC Leonard Davis School of Gerontology</h4>
    <p>Founded in 1975, the USC Leonard Davis School of Gerontology is the oldest and largest school of its type in the world. The school offers the most comprehensive selection of gerontology degree programs found anywhere, a variety of outstanding research opportunities, and a challenging yet supportive academic environment. As a school rooted in a world-class research university located in Los Angeles, the USC Leonard Davis School is home to today’s and tomorrow’s leaders in the field. <a href="http://www.gero.usc.edu/">www.gero.usc.edu</a></p>
</div>
</div>

  