<div id="research-1" class="page-splash">
	<div class="overlay">
		<div class="container text-center">
			<div class = "row">
				<h1>Research Scholarship Program</h1>
			</div>
		</div>
	</div>
</div>
<div id="research-2" class="container-fluid lightSection">
	<div class="container">
		<div class="shit-content shadow-border" >
			<p>
				The <b>Alzheimer’s Research Scholarship Program (ARSP) </b> was founded by YMAA's UCLA chapter in 2016 to reward students who have actively been conducting either humanities or life science research related to Alzheimer’s Disease with a $1000 stipend. Through this program we hope to inspire a future generation of scholars and scientists to be at the forefront of developing successful treatments-- or <b>even a cure</b> for this disease.
			</p>
			<iframe class="marginTop20" width="100%" height="400" src="https://www.youtube.com/embed/fr-RdAA6nho" frameborder="0" allowfullscreen></iframe>
			<p class="marginTop20">
			<br>
				<en>APPLICATIONS DUE MAY 20TH</en>
				<br>
				<h3> Who can apply? </h3>
				<ul>
					<li> Must be registered as a student at a university/college during the regular academic year.
						<ul><li><i>Only UCLA, UC Berkeley, Northwestern University, and Tulane University students qualify for 2017-18</i></li></ul></li>
						<li> Must secure a year-long research position with a Professor/PI for the 2017-18 academic year</li>
					</ul>
					<h3>By the end of the year...</h3>
					By the end of the year each recipient will complete the following work:<br>
					<ul>
						<li>Create an abstract to be published on YMAA's website that includes proposal for future studies</li>
						<li>Write an article that is comprehendible to the nonscientific community and youth. </li>
						<li>Present their work with at least one poster/abstract session organized through their associated university</li>
					</ul>
					</p>
					<h3>Supported by...</h3>
					Our program has received support from:<br>
				<p>
					Dr. Lene Levy-Storms - <i>Academic Head of the Gerontology Minor</i></br>
					Dr. Gary Small - <i>Director Longevity Center</i></br>
					Dr. Karen Miller - <i>Psychologist (Ph.D.), UCLA Medical Center Geriatrics Psychiatry</i></br>
					Dr. Alison Burggren - <i>Ph.D- Staglin IMHRO Center for Cognitive Neuroscience.</i></br>
					Dr. Karen Gylys - <i>Ph.D. and R.N.,UCLA Brain Research Institute</i></br>
					Dr. Dale Bredesen - <i>Former Director of Mary Easton Center for Alzheimer’s Disease</i></br>
					Dr. Marie Francoise­ Chesselet - <i>Interim Chair UCLA Neurology</i><br>
					Dr. Gal Bitan - <i>Associate Professor, UCLA Neurology</i>
				</p>
				<h3>
					How to apply
				</h3>
				<ol>
					<li> Fill out the form below</li>
					<li> Print out <a href="https://drive.google.com/file/d/0BzBVXUmxGCMYZFFQN1V5NUFCeVE/view?usp=sharing">this form</a> and send it to research@theyouthmovement.org </li>
				</ol>
				<br>
				<div class="typeform-widget" data-url="https://nihal2day.typeform.com/to/HMqWl7" style="width: 100%; height: 500px;"></div><script>(function(){var qs,js,q,s,d=document,gi=d.getElementById,ce=d.createElement,gt=d.getElementsByTagName,id="typef_orm",b="https://s3-eu-west-1.amazonaws.com/share.typeform.com/";if(!gi.call(d,id)){js=ce.call(d,"script");js.id=id;js.src=b+"widget.js";q=gt.call(d,"script")[0];q.parentNode.insertBefore(js,q)}})()</script>
				<br>
				<h3>More Questions?</h3>
				<p>Feel free to contact our ARSP Director, <a href="mailto:research@theyouthmovement.org">Kunal Aggarwal</a></p>
				<div class="row text-center marginTop40">
					<a class="sexy purple highlight" href="https://nihal2day.typeform.com/to/HMqWl7">Apply</a>
					<a class="sexy purple highlight" href="https://www.paypal.com/cgi-bin/webscr?cmd=_s-xclick&hosted_button_id=9FEVYH2QMGF8J">Donate</a>
				</div>
			</div>
		</div>
	</div>
	<div id="logoQuilt" class="container-fluid generalSection lightSection text-center">
		<div class="container">
			<div class="row">
				<img src="assets/images/school1.png">
				<img src="assets/images/school2.png">
				<img src="assets/images/school3.png">
				<img src="assets/images/school4.png">
			</div>
		</div>
	</div>