<body ng-app="tutorialWebApp">
<!--[if lt IE 7]>
<p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade
    your browser</a> to improve your experience.</p>
<![endif]-->
    
    <nav>
        <div class="col-xs-12 col-lg-2">
            <img src="../public/assets/images/logo.png" alt="Youth Movement Logo">
        </div>
    </nav>
	

<style>
.lcolmn, .rcolmn {
    width: 50%;
	min-height: 770px;
    float:left;
  }
@media (min-width:1400px) {
.lcolmn, .rcolmn {
	min-height: 890px;
  }
}
	
.lcolmn {
    background-color: #FFF;
    padding: 11% 7% 5% 7%;
}
h1.mittun_newh1 {font-size:64px!important;}	
@media (max-width:767px) {
   .mittun_white-bold {
    color: #FFF;
    font-weight: bold;
    font-size: 44px!important;
    margin-top: 150px;
  } 
  .lcolmn {
    background-color: #FFF;
	padding:20% 5% 5% 5%;
  }
}
@media (max-width:500px) {
h1.mittun_newh1 {font-size:44px!important;}	
.mittun_white-bold {
    font-size: 30px!important;
}
p {
    font-size: 14px;
}
}
  .rcolmn {
	padding-top: 9%;
    background: url(../public/assets/images/the-youth-movement-donation-square-1.jpg);
    background-repeat: no-repeat;
    background-size: cover;
  }
	
  .lcolmn2, .rcolmn2 {
    width: 50%;
	min-height:570px;
    float:left;
  }
	
  .rcolmn3 {
    width: 100%;
	padding-top: 89%;
  }
  .lcolmn2 {
    background: url(../public/assets/images/the-youth-movement-donation-square-2.jpg);
    background-repeat: no-repeat;
    background-size: cover;
  }
  .rcolmn2 {
	padding-top: 8%;
    background: #FFF;
  }
	.mittun_white-bold {color:#FFF; font-weight: bold;}
	.mittun_white {color:#FFF;}
	.mittun_donate-amounts {font-size:40px; margin:35px; color:#FFF; font-weight: bold;}
	.mittun_donate-amounts-desc {font-size:14px; color:#FFF; max-width: 300px; margin: 0px auto;}
	
/* Purple Buttons */
a.purple {
    border: 2px solid #81028d !important;
    background: #81028d;
    color: #ffffff !important;
}
a.purple:hover {
    border: 2px solid #81028d !important;
    background: #FFF;
    color: #81028d !important;
}
	
.mittun-top {
    background: #FFF!important;
}
	
/* MEDIA QUERIES */
@media (max-width:1199px) {
.mittun_white-bold {margin-top: 100px;} 
	/* show reverse by vertical row */
#row-reverse { display: flex; flex-direction: column-reverse; }
.lcolmn, .rcolmn, .lcolmn2, .rcolmn2 {
   width:100%;
  }
}	
	
@media screen and (max-width:999px) {
a.purple {
    border: 2px solid #81028d !important;
    background: #81028d;
    color: #ffffff !important;
    display: block;
    margin: 10px 50px;
}
.mittun_white-bold {margin-top: 100px;} 
}

	
/***  DONATION FORM STYLES  ***/
.example.example3 .field + .field, .example.example3 .field {
    color: #000;
}
.example.example3 {
  background-color: #FFF;
  border: 2px #81028d solid;
  padding: 4%;
}

.example.example3 * {
  font-family: Quicksand, Open Sans, Segoe UI, sans-serif;
  font-size: 16px;
  font-weight: 600;
}

.example.example3 .fieldset {
  margin: 0 15px 30px;
  padding: 0;
  border-style: none;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-flow: row wrap;
  flex-flow: row wrap;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

.example.example3 .field {
    padding: 10px 20px 11px;
    background-color: #ffffff;
    border-radius: 10px;
    border: 1px #81028d solid;
    width: 100%;
}
.example.example3 .field::placeholder {
    color: #81028d;
}

.example.example3 .field.half-width {
  width: calc(50% - (5px / 2));
}

.example.example3 .field.third-width {
  width: calc(33% - (5px / 3));
}

.example.example3 .field + .field {
  margin-top: 6px;
}

.example.example3 .field.focus,
.example.example3 .field:focus {
  color: #424770;
  background-color: #f6f9fc;
}

.example.example3 .field.invalid {
  background-color: #fa755a;
}

.example.example3 .field.invalid.focus {
  background-color: #f6f9fc;
}

.example.example3 .field.focus::-webkit-input-placeholder,
.example.example3 .field:focus::-webkit-input-placeholder {
  color: #cfd7df;
}

.example.example3 .field.focus::-moz-placeholder,
.example.example3 .field:focus::-moz-placeholder {
  color: #cfd7df;
}

.example.example3 .field.focus:-ms-input-placeholder,
.example.example3 .field:focus:-ms-input-placeholder {
  color: #cfd7df;
}

.example.example3 input, .example.example3 button {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  outline: none;
  border-style: none;
}

.example.example3 input {
  color: #fff;
}

.example.example3 input::-webkit-input-placeholder {
  color: #9bacc8;
}

.example.example3 input::-moz-placeholder {
  color: #9bacc8;
}

.example.example3 input:-ms-input-placeholder {
  color: #9bacc8;
}

.example.example3 button {
    display: block;
    width: calc(100% - 30px);
    height: 60px;
    margin: 0 15px;
    background-color: #81028d;
    border-radius: 10px;
    color: #ffffff;
    font-weight: 600;
    font-size: 20px;
    text-transform: uppercase;
    cursor: pointer;
}

.example.example3 button:active {
  background-color: #f5be58;
}

.example.example3 .error svg .base {
  fill: #fa755a;
}

.example.example3 .error svg .glyph {
  fill: #fff;
}

.example.example3 .error .message {
  color: #fff;
}

.example.example3 .success .icon .border {
  stroke: #fcd669;
}

.example.example3 .success .icon .checkmark {
  stroke: #fff;
}

.example.example3 .success .title {
  color: #fff;
}

.example.example3 .success .message {
  color: #9cabc8;
}

.example.example3 .success .reset path {
  fill: #fff;
}
/***  END DONATION FORM STYLES  ***/	
	
.mittun_donate-header {
	background: #81028d;
    color:#FFF;
	text-align:center;
	padding: 2%;
}
	
.header__logo--slide-left {
    display: none!important;
}	
#fc-9ae54e1a7223 .header__amount--show {
    width: 100%!important;
}
.mittun_funraise {margin:0 auto; text-align:center;}
#fc-9ae54e1a7223 .modal-header>button.back {
    z-index: 999999!important;
}
</style>
	
	
<div id="row-reverse">
	
  <div class="lcolmn">
	  <div class="mittun_funraise">
		  
<script id="funraise-form-lib" src="https://assets.funraise.io/widget/common/1.3/funraise.min.js" type="text/javascript"></script>
<script id="funraise-form-9ae54e1a7223" type="text/javascript">
    (function() {
        var f7223 = new Funraise({
            id: '9ae54e1a-ee83-415f-83c1-e0ac52c6eb21:7223',
            isPopup: false
        });
        f7223.init();
    })();
</script>
<div id="fc-9ae54e1a7223"></div>
		  </div>
	  </div>
      


  <div class="rcolmn">
       <div class="overlay">
        <div class="text-center">
            <div class="row">
                <h1 class="mittun_white-bold" style="font-size:64px">Alzheimer’s Will Bankrupt <br />
					The HealthCare System</h1>
            </div>
            <div class="row">
                <p class="mittun_white">Help us change that by making <br /> a donation today.</p>
            </div>
			<div class="col-xs-12 col-md-4 col-lg-4">   
			<h2 class="mittun_donate-amounts">$10 </h2> 
			<p class="description mittun_donate-amounts-desc">Sponsor one hour of care by partnering a student and a person with dementia.</p>
			</div>
			<div class="col-xs-12 col-md-4 col-lg-4">   
			<h2 class="mittun_donate-amounts">$100 </h2> 
			<p class="description mittun_donate-amounts-desc">Sponsor a new YMAA Chapter. We have 38 states that still need a YMAA Chapter!</p>
			</div>
			<div class="col-xs-12 col-md-4 col-lg-4">   
			<h2 class="mittun_donate-amounts">$1,000 </h2> 
			<p class="description mittun_donate-amounts-desc">Sponsor a training session for YouthCare.</p>
			</div>
          </div>
        </div>
      </div>
	</div>
	

<div class="lcolmn2"></div>
  <div class="rcolmn2" style="margin-bottom: 100px">
       <div class="overlay">
        <div class="text-center">
            <div class="row lightSection">
                <h1 class="mittun_newh1">Ways to Get Involved</h1>
            </div>
            <div class="row">
                <p>Are you a high school or undergraduate student? <br /> You might be the next bright leader in this movement.</p>
            </div>
           <div class="row lightSection">
                <h2 style="margin-top:50px; font-weight:bold;">Think you have what it takes?</h2>
            </div>
			<div class="row buttons" style="margin-top:50px">
			    <a class="sexy purple" href="#">START A CHAPTER</a>
				<a class="sexy purple" href="#">JOIN THE TEAM</a>
			</div>
          </div>
        </div>
      </div>
	
	
	<div class="lcolmn3">
    <div id="makeDifference" class="row2 container-fluid generalSection lightSection text-center mittun-top">
        <div class="container marginTop40">
            <div class="row">
                <h1>Other Ways To Give</h1>
            </div>
            <div class="row marginTop40">
                <div class="col-xs-12 col-md-4 col-lg-4">   
                    <div class="row">
                        <div class="program">
                            <img src="../public/assets/images/the-youth-movement-donate-honor-icon.png">
                            <div class="details text-center">
								<h2>HONOR SOMEONE SPECIAL</h2>
                                <p style="text-align: center">
                                    Honor or remember someone special by making a gift in their name.
                                </p>
                                <a href="#" style="color: #81028d">Give In Honor Of Someone</a>
                            </div>
                        </div>
                    </div>
                </div>
				
				    <div class="col-xs-12 col-md-4 col-lg-4">   
                    <div class="row">
                        <div class="program">
                            <img src="../public/assets/images/the-youth-movement-donate-campaign-icon.png">
                            <div class="details text-center">
                                <h2>DONATE TO A CAMPAIGN</h2>
                                <p style="text-align: center">
                                    Support one of our many fundraisers raising money for alzheimer's.
                                </p>
                                <a href="#" style="color: #81028d">Find a Campaign</a>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-xs-12 col-md-4 col-lg-4">   
                    <div class="row">
                        <div class="program">
                            <img src="../public/assets/images/the-youth-movement-donate-check-icon.png">
                            <div class="details text-center">
                                <h2>GIVE BY CHECK OR STOCK</h2>
                                <p style="text-align: center">
                                    We also accept donations by check, stock, money orders, and wire transfer.
                                </p>
                                <a href="#" style="color: #81028d">Learn More</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

    <footer class="text-center">
        <div class="container">
            <div class="row">
                <h3>
                    THE YOUTH MOVEMENT AGAINST ALZHEIMER’S 
                </h3>
                <h4>
                    CREATING A FUTURE WORTH REMEMBEING
                </h4>
            </div>
            <div class="row signup">
                <input type="text" name="emailSignup" placeholder="Enter your email to sign up to our newsletter" /><a href="#">Sign Up</a>
            </div>
            <div class="row marginTop20">
                <p>We are committed to fighting against Alzheimer’s and raising awareness about the disease</p>
			</div>
            <div class="row marginTop40">
                <p>Made with <i class="fa fa-heart"></i> in Los Angeles</p>
            </div>
        </div>
    </footer>
<!-- Our Website Content Goes Here -->
<div ng-include='"../public/templates/header.html"'></div>
<div ng-view></div>
<div ng-include='"../public/templates/footer.html"'></div>

<!-- Vendor: Javascripts -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>

<!-- Vendor: Angular, followed by our custom Javascripts -->
<script src="//ajax.googleapis.com/ajax/libs/angularjs/1.2.18/angular.min.js"></script>
<script src="//ajax.googleapis.com/ajax/libs/angularjs/1.2.18/angular-route.min.js"></script>

<!-- Our Website Javascripts -->
<script src="../public/js/main.js"></script>
<script type="text/javascript">
   var icon= "M233.292,0c-85.1,0-154.334,69.234-154.334,154.333c0,34.275,21.887,90.155,66.908,170.834 c31.846,57.063,63.168,104.643,64.484,106.64l22.942,34.775l22.941-34.774c1.317-1.998,32.641-49.577,64.483-106.64 c45.023-80.68,66.908-136.559,66.908-170.834C387.625,69.234,318.391,0,233.292,0z M233.292,233.291c-44.182,0-80-35.817-80-80 s35.818-80,80-80c44.182,0,80,35.817,80,80S277.473,233.291,233.292,233.291z";

    AmCharts.makeChart( "mapdiv", {
  /**
   * this tells amCharts it's a map
   */
  "type": "map",
  "backgroundColor":"rgba(129, 2, 141, 0.4)",
  /**
   * create data provider object
   * map property is usually the same as the name of the map file.
   * getAreasFromMap indicates that amMap should read all the areas available
   * in the map data and treat them as they are included in your data provider.
   * in case you don't set it to true, all the areas except listed in data
   * provider will be treated as unlisted.
   */
  "dataProvider": {
    "map": "usa2High",
    "getAreasFromMap": false,
    "images": [ {
    "latitude": 37.8716,
    "longitude": -122.2727,
        "svgPath": icon,
      "color": "rgba(234, 173, 37, 1)",
      "scale": 0.05,
      "title": "UC Berkeley",
      "labelShiftY": 2
  },
  {
    "latitude": 34.4208,
    "longitude": -119.6982,
        "svgPath": icon,
      "color": "rgba(234, 173, 37, 1)",
      "scale": 0.05,
      "title": "UC Santa Barbara",
      "labelShiftY": 2
  },
  {
    "latitude": 34.0522,
    "longitude": -118.2437,
        "svgPath": icon,
      "color": "rgba(234, 173, 37, 1)",
      "scale": 0.05,
      "title": "UCLA",
      "labelShiftY": 2
  },
  {
    "latitude": 42.3770,
    "longitude": -71.1167,
        "svgPath": icon,
      "color": "rgba(129, 2, 141, 1)",
      "scale": 0.05,
      "title": "Harvard Univeristy",
      "labelShiftY": 2
  }
   ]
  },

  /** 
   * create areas settings
   * autoZoom set to true means that the map will zoom-in when clicked on the area
   * selectedColor indicates color of the clicked area.
   */
  "areasSettings": {
    "autoZoom": false,
    "unlistedAreasColor": "#744FFF",
    "unlistedAreasAlpha": 0.7
  }
} );
</script>
</body>