<div id="splashChapter" class="joinTheMovement">
    <div class="overlay container-fluid">
        <div class="container text-center">
            <div class="row">
                <h1>Apply to attend the National Alzheimer's Summit</h1>
            </div>
        </div>
    </div>
</div>
<div class="container-fluid generalSection lightSection text-center" id="form">
    <div class="container" style="padding-left: 10px; padding-right: 10px;">
    <div class="row">
    <h3> 2019 Alzheimer's Summit </h3>
    <h3> October 22nd - 24th</h3>
    <h3> Washington, DC</h3>
    <br>
    <p> <i>"Last year I had the pleasure of attending the National Alzheimer’s Summit with an amazing and powerful group of young advocates from all across the country. I am so fortunate for this experience for truly allowing me to immerse myself in the community. I was able to learn about the advances in research that are making strides clinically, advocate for our cause with Congress members from my State, and connect with young people my age who genuinely care about this cause. I made friends that I still talk to today and I can’t wait for this year’s conference!"</i><b> - Jordan Rahm - Wake Forest Unversity '18</b> </p>
    <p> <i>"Before attending the Summit, I had significantly underestimated my voice as a citizen and the power it holds to advocate for change at the federal level. Seeing the physicians’ and scientists’ determination at these summits allowed me to realize the greater duty we have as young professionals."</i><b> - Baraa Hijaz - University of Alabama Birmingham '20 </b></p>

    <br>

    <h4>Check out the Summit <a href="https://docs.google.com/document/d/1qUchL80rlzfJFa1El_Jl25R1nIvENOoaOrEZzy_ybBQ/mobilebasic" target="_blank"><u>Agenda</u></a> and <a href="https://www.alznj.org/2016-us-alzheimers-national-summit/" target="_blank"><u>Video</u></a></h4>
    <br>
    <h4><i>Applications deadline has been extended until August 18th at 11:59 PM PST<br>Selected applicants will have all expenses paid to attend the summit<br>Applications will be accepted after the deadline, but will not be given priority</i></h4>
    <br>

    <br>
    
    </div>
    <div class="row" style="padding-left: 10px; padding-right: 10px;">
<div class="typeform-widget" data-url="https://nihal2day.typeform.com/to/xjHAtf" style="width: 100%; height: 500px;"></div> <script> (function() { var qs,js,q,s,d=document, gi=d.getElementById, ce=d.createElement, gt=d.getElementsByTagName, id="typef_orm", b="https://embed.typeform.com/"; if(!gi.call(d,id)) { js=ce.call(d,"script"); js.id=id; js.src=b+"embed.js"; q=gt.call(d,"script")[0]; q.parentNode.insertBefore(js,q) } })() </script> <div style="font-family: Sans-Serif;font-size: 12px;color: #999;opacity: 0.5; padding-top: 5px;"> powered by <a href="https://admin.typeform.com/signup?utm_campaign=xjHAtf&utm_source=typeform.com-6271513-Basic&utm_medium=typeform&utm_content=typeform-embedded-poweredbytypeform&utm_term=EN" style="color: #999" target="_blank">Typeform</a> </div>

    </div>
    <br>
    <h5> If you can't see the form please refresh </h5>
</div>
</div>

