<div id="supportPage" class="joinTheMovement">
    <div class="overlay container-fluid">
        <div class="container text-center">
            <div class="row">
                <h1>DARE TO CARE WEEK</h1>
            </div>
        </div>
    </div>
</div>
<div class="container-fluid generalSection lightSection text-center" id="form">
    <div class="container impact">
	    <div class="row">

	    	<div class="symptoms row shadow-border">
            <h2><center>How can you help one the fastest growing national movements <i><b><en>fight for our future</en></b></i> in FIVE minutes?</center></h2>

            
            <br> 
        </div>
 <br> 
		<h1><ol>
            <li>Help our social enterprise win $100k by <a href="https://challenge.la2050.org/2019/live/the-youth-movement-against-alzheimers/" target="_blank">voting for us</a> in LA2050</li>
            <h3>You can vote from anywhere in the U.S.</h3>

            <br>
            <li>Please fill out the form below so we can pass the California Care Corps</li>
            <h3>You don't have to live in California</h3>
            <h4><a href="https://news.memorywell.com/2019/04/18/can-a-volunteer-care-corps-create-a-pipeline-of-long-term-care-workers/">Click here to learn more about our effort</a></h4>
            
        </ol></h1>

	    </div>
	</div>
	<div class="container" style="max-width:100%;height:auto;">
	    <div class="row">

			<iframe style="max-width:100%;" src="https://docs.google.com/forms/d/e/1FAIpQLSfvsA7SUKIj1xqfawTUcNZi_4ckf1eu-sWYrAAuIrI0ad-BLA/viewform?embedded=true" width="700" height="1300" frameborder="0" marginheight="0" marginwidth="0">Loading...</iframe>


	 	</div>
    </div>
</div>
</div>

