<div id="supportPage" class="joinTheMovement">
    <div class="overlay container-fluid">
        <div class="container text-center">
            <div class="row">
                <h1>DARE TO CARE WEEK</h1>
            </div>
        </div>
    </div>
</div>
<div class="container-fluid generalSection lightSection text-center" id="form">
    <div class="container impact">
	    <div class="row">

	    	<div class="symptoms row shadow-border">
            <h2><center>How can you help one the fastest growing national movements <i><b><en>fight for our future</en></b></i> in FIVE minutes?</center></h2>

            
            <br> 
        </div>
 <br> 
		<h1><ol>
            <li>Help our social enterprise win $100k by voting for us in LA2050</li>
            <br>
            <li>Please fill out the form below so we can pass the California Care Corps</li>
            
        </ol></h1>

	    <h3><ol><li>Add Appropriate Links</li></ol></h3>



	    </div>
	</div>
	<div class="container">
	    <div class="row">

			<iframe src="https://docs.google.com/forms/d/e/1FAIpQLSfvsA7SUKIj1xqfawTUcNZi_4ckf1eu-sWYrAAuIrI0ad-BLA/viewform?embedded=true" width="700" height="1040" frameborder="0" marginheight="0" marginwidth="0">Loading...</iframe>


	 	</div>
    </div>
</div>
</div>

