
<div id="splashChapter">
    <div class="overlay container-fluid">
        <div class="container text-center">
            <div class="row">
                <h1>{{school.name}}</h1>                
            </div>
            <div class="row">
                <h2>Creating a Future Worth Remembering</h2>
            </div>
            <div class="row chapterSocials">
                <a href="{{school.fb_link}}"><i class="fa fa-facebook"></i></a>
                <a href="{{school.instagram_link}}"><i class="fa fa-instagram"></i></a>
                <a href="{{school.twitter_link}}"><i class="fa fa-twitter"></i></a>
            </div> 
        </div>
    </div>
</div>

<div class="sub-nav">
    <div class="sub_navbar">
        <div class="line"><a data-href="#impact">OUR IMPACT</a></div>
        <div class="line"><a data-href="#chapterCalendar">Events</a></div>
        <div class="line"><a data-href="#leadership">Leadership</a></div>
        <div class="line"><a data-href="#news">In the News</a></div>
    </div>
</div>

<div class="container-fluid generalSection lightSection text-center"  id="impact">
    <div class="container impact">
        <div class="row">
            <h1>OUR IMPACT</h1>
        </div>
        <div class="row graphic">
            <br>
            <p>Total Amount Fundraised:</p>
            <div class="legend">
                    <div class="circ" id="c1">  
                    </div><div class="key">2015</div>
                    <div class="circ" id="c2">  
                    </div><div class="key">2016</div>
                    <div class="circ" id="c3">  
                    </div><div class="key">2017 Goal</div>
            </div>
        </div>
        <br>
        <div class="row">
            <p>
                {{school.impact}}
            </p>

        </div>
    </div>
</div>

<div class="container-fluid generalSection text-center president" id="chapterCalendar">
    <div class="container impact">

        <h1>Events</h1>
        <div class="row">
            <center>
            <iframe src="{{school.calendar}}" style="border-width:0" width="800" height="600" frameborder="0" scrolling="no"></iframe>
            <!-- <iframe src="https://calendar.google.com/calendar/embed?showTitle=0&amp;showNav=0&amp;showDate=0&amp;showPrint=0&amp;showTabs=0&amp;showCalendars=0&amp;showTz=0&amp;mode=AGENDA&amp;height=600&amp;wkst=1&amp;bgcolor=%23FFFFFF&amp;src=tds5love9au8p12ukq590e32ls%40group.calendar.google.com&amp;color=%23B1440E&amp;ctz=America%2FLos_Angeles" style="border-width:0" width="800" height="600" frameborder="0" scrolling="no"></iframe> -->
            </center>
        </div>
    </div>
</div>
</div>

<div class="container-fluid generalSection lightSection text-center board" id="leadership">
    <div class="container impact">
        <div class="row">
            <h1>Leadership</h1>
        </div>
        <br>
        <div class="row">

            <div class="member">
                <a href="https://www.linkedin.com"><i class="fa fa-linkedin-square fa-2x icon" aria-hidden="true"></i></a>
                <img src="assets/images/nihal.jpeg">
                <p class="name">Nihal Satyadev</p>
                <p class="post">President and Co-Founder</p>
            </div>

            <div class="member">
                <a href="https://www.linkedin.com"><i class="fa fa-linkedin-square fa-2x icon" aria-hidden="true"></i></a>
                <img src="assets/images/jaygopal.jpg">
                <p class="name">Jay Gopal</p>
                <p class="post">External Vice President</p>
            </div>

            <div class="member">
                <a href="https://www.linkedin.com"><i class="fa fa-linkedin-square fa-2x icon" aria-hidden="true"></i></a>
                <img src="assets/images/andrew.jpg">
                <p class="name">Andrew Nguyen</p>
                <p class="post">Internal Vice President</p>
            </div>

            <div class="member">
                <a href="https://www.linkedin.com"><i class="fa fa-linkedin-square fa-2x icon" aria-hidden="true"></i></a>
                <img src="assets/images/silena.jpg">
                <p class="name">Silena Palozzola</p>
                <p class="post">Chief Financial Officer</p>
            </div>

            <div class="member">
                <a href="https://www.linkedin.com"><i class="fa fa-linkedin-square fa-2x icon" aria-hidden="true"></i></a>
                <img src="assets/images/ridhi.jpg">
                <p class="name">Ridhi Arun</p>
                <p class="post">Secretary</p>
            </div>

            <div class="member">
                <a href="https://www.linkedin.com"><i class="fa fa-linkedin-square fa-2x icon" aria-hidden="true"></i></a>
                <img src="assets/images/christian.jpg">
                <p class="name">Christian Corrales</p>
                <p class="post">Treasurer</p>
            </div>

            <div class="member">
                <a href="https://www.linkedin.com"><i class="fa fa-linkedin-square fa-2x icon" aria-hidden="true"></i></a>
                <img src="assets/images/xenia.jpg">
                <p class="name">Xenia Levitski</p>
                <p class="post">Director of Internal Relations</p>
            </div>

            <div class="member">
                <a href="https://www.linkedin.com"><i class="fa fa-linkedin-square fa-2x icon" aria-hidden="true"></i></a>
                <img src="assets/images/misak.jpg">
                <p class="name">Misak Khachatryan</p>
                <p class="post">Publicity Director & Head of Media Affairs</p>
            </div>

            <div class="member">
                <a href="https://www.linkedin.com"><i class="fa fa-linkedin-square fa-2x icon" aria-hidden="true"></i></a>
                <img src="assets/images/lana.jpg">
                <p class="name">Lana Womack</p>
                <p class="post">Board Intern</p>
            </div>

        </div>
    </div>
</div>

<div class="container-fluid generalSection lightSection text-center connected" id="news">
    <div class="container impact">
        <div class="row">
            <h1>In the news</h1>
        </div>
        <br>
        <div class="row">
            <div class="news">
                <a href="https://www.linkedin.com"><i class="fa fa-arrow-right fa-2x icon" aria-hidden="true"></i></a>
                <img src="assets/images/why1.png">
                <p class="name">Lorem Ipsum dolor sit amet hlak elekj long article title 1</p>
                <p class="post">July 2016</p>
                <div class="line"></div>
            </div>
            
            <div class="news">
                <a href="https://www.linkedin.com"><i class="fa fa-arrow-right fa-2x icon" aria-hidden="true"></i></a>
                <img src="assets/images/why2.png">
                <p class="name">Lorem Ipsum dolor sit amet hlak elekj</p>
                <p class="post">July 2016</p>
                <div class="line"></div>
            </div>

            <div class="news">
                <a href="https://www.linkedin.com"><i class="fa fa-arrow-right fa-2x icon" aria-hidden="true"></i></a>
                <img src="assets/images/why3.png">
                <p class="name">Lorem Ipsum dolor sit amet hlak elekj</p>
                <p class="post">July 2016</p>
                <div class="line"></div>
            </div>
        </div>
    </div>
</div>
