<div class="container-fluid generalSection lightSection text-center" id="form">
	<div class="container" style="text-align:left;">
		<form style="margin-top:200px;" class="schoolVerifyForm">
			<div class="row">
				<h1>Verify Schools</h1>
			</div>

			<div class="password" ng-if="!password">
				<input type="text" name="password" placeholder="Password" ng-model="passkey"/>
				<button class="btn submitPassword" ng-click="check(passkey)">Submit</button>
			</div>
			<div class="verificationlock" ng-if="password">
			<div class="row" style="font-weight:900;">
				<div class="col-xs-12 col-sm-2">
					Name
				</div>

				<div class="col-xs-12 col-sm-2">
					Address
				</div>

				<div class="col-xs-12 col-sm-2">
					State
				</div>

				<div class="col-xs-12 col-sm-2">
					Verified
				</div>

				<div class="col-xs-12 col-sm-2">
					Verify
				</div>
			</div>

			<div 
				class="row marginTop20"
				ng-repeat="school in schools">
				
				<div class="col-xs-12 col-sm-2">
					{{school.name}}
				</div>

				<div class="col-xs-12 col-sm-2">
					{{school.address}}
				</div>

				<div class="col-xs-12 col-sm-2">
					{{school.state}}
				</div>

				<div class="col-xs-12 col-sm-2">
					<input type="checkbox" ng-model="school.verified" disabled="true" />
				</div>

				<div class="col-xs-12 col-sm-2">
					<button 
						class="btn verify"
						id="verifyButton"
						data-name="{{school.name}}">Verify</button>
				</div>
		
			</div>
			</div>

		</form>
	</div>
</div>